{% extends "base.html" %}

{% if date %}
{% block title %}US Soccer Results and Standings for {{ date }}{% endblock %}
{% endif %}


{% block content %}


{% if date %}
<h3>
{% if yesterday %}<a href="{% url date_detail yesterday.year yesterday.month yesterday.day %}">←</a>{% endif %}
{{ date }}
{% if tomorrow %}<a href="{% url date_detail tomorrow.year tomorrow.month tomorrow.day %}">→</a>{% endif %}
</h3>
{% endif %}


<ul id="tabs"></ul>

<div id="tab_wrapper">

{% if games %}
<div tab="games">
{% include "templatetags/games.html" %}
</div>
{% endif %}


{% if births.exists %}
<div tab="births">


<table>

  <thead>
    <tr>
      <th>name</th>
      <th>bdate</th>
      <th>bplace</th>
    </tr>
  </thead>


{% for bio in births %}
<tr>
  <td><a href="{% url person_detail bio.slug %}">{{ bio.name }}</a></td>
  <td><a href="{% url date_detail bio.birthdate.year bio.birthdate.month bio.birthdate.day %}">{{ bio.birthdate }}</a></td>
  <td><a href="{% url city_detail bio.birthplace.slug %}">{{ bio.birthplace }}</a></td>
</tr>
{% endfor %}
</table>
</div>
{% endif %}

{% if deaths.exists %}
<div tab="deathss">
<table>
{% for bio in deaths %}
<tr>
  <td><a href="{% url person_detail bio.slug %}">{{ bio.name }}</a></td>
  <td><a href="{% url date_detail bio.birthdate.year bio.birthdate.month bio.birthdate.day %}">{{ bio.birthdate }}</a></td>
</tr>
{% endfor %}
</table>
</div>
{% endif %}


{% if hires.exists %}
<div tab="hired">
<table>
{% for position in hires %}
<tr>
  <td><a href="{% url person_detail position.person.slug %}">{{ position.person.name }}</a></td>
  <td><a href="{% url team_detail position.team.slug %}">{{ position.team }}</a></td>
  <td>{{ position.name }}</td>
  <td>{{ position.start }}</td>
</tr>
{% endfor %}
</table>
</div>
{% endif %}


{% if fires.exists %}
<div tab="fired">
<table>
{% for position in fires %}
<tr>
  <td><a href="{% url person_detail position.person.slug %}">{{ position.person.name }}</a></td>
  <td><a href="{% url team_detail position.team.slug %}">{{ position.team }}</a></td>
  <td>{{ position.name }}</td>
  <td>{{ position.end }}</td>
</tr>
{% endfor %}
</table>
</div>
{% endif %}

</div>

{% endblock %}
