{% extends "base.html" %}

{% if date %}
{% block title %}US Soccer Results and Standings for {{ date }}{% endblock %}
{% endif %}

{% block extrahead %}

{% comment %}
<script>
    $(function() {
        $("#datepicker" ).datepicker();
    });
    </script>
{% endcomment %}

{% endblock %}

{% block content %}

{% if date %}
<h3>
{% if previous_date %}<a href="{% url date_detail previous_date.0 previous_date.1 previous_date.2 %}">←</a>{% endif %}
<span id="specific_date">{{ date }}</span>
{% if next_date %}<a href="{% url date_detail next_date.0 next_date.1 next_date.2 %}">→</a>{% endif %}
</h3>

{% else %}

{% if previous_day %}
<div id="date_nav">
<a href="{% url day_detail previous_day.month previous_day.day %}">←</a>
<div id="specific_date">{{ day_string }}</div>
<a href="{% url day_detail next_day.month next_day.day %}">→</a>
</div>

{% endif %}

{% endif %}

 {% comment %}
<p>
Date: <input type="text" id="datepicker" />
<input type="submit" value="go" />
</p> 
{% endcomment %}



<ul id="tabs"></ul>

<div id="tab_wrapper">



{% if games %}
<div tab="games">
{% include "templatetags/games.html" %}
</div>
{% endif %}

{% if standings %}
<div tab="standings">
{% include "templatetags/standings/standings.html" %}
</div>
{% endif %}



{% comment %}
<div tab="summary">
{% include "templatetags/lists/stadiums.html" %}
</div>
{% endcomment %}



{% if births.exists %}
<div tab="births">


<table>

  <thead>
    <tr>
      <th>name</th>
      <th>bdate</th>
      <th>bplace</th>
    </tr>
  </thead>


{% for bio in births %}
<tr>
  <td><a href="{% url person_detail bio.slug %}">{{ bio.name }}</a></td>
  <td><a href="{% url date_detail bio.birthdate.year bio.birthdate.month bio.birthdate.day %}">{{ bio.birthdate }}</a></td>
  {% if bio.birthplace.slug %}
  <td><a href="{% url city_detail bio.birthplace.slug %}">{{ bio.birthplace }}</a></td>
  {% else %}
  <td></td>
  {% endif %}

</tr>
{% endfor %}
</table>
</div>
{% endif %}

{% if deaths.exists %}
<div tab="deathss">
<table>
{% for bio in deaths %}
<tr>
  <td><a href="{% url person_detail bio.slug %}">{{ bio.name }}</a></td>
  <td><a href="{% url date_detail bio.birthdate.year bio.birthdate.month bio.birthdate.day %}">{{ bio.birthdate }}</a></td>
</tr>
{% endfor %}
</table>
</div>
{% endif %}


{% if hires.exists %}
<div tab="hired">
<table>
{% for position in hires %}
<tr>
  <td><a href="{% url person_detail position.person.slug %}">{{ position.person.name }}</a></td>
  <td><a href="{% url team_detail position.team.slug %}">{{ position.team }}</a></td>
  <td><a href="{% url position_detail position.slug %}">{{ position.name }}</a></td>
  <td>{{ position.start }}</td>
  <td>{{ position.end }}</td>
</tr>
{% endfor %}
</table>
</div>
{% endif %}


{% if fires.exists %}
<div tab="fired">
<table>
{% for position in fires %}
<tr>
  <td><a href="{% url person_detail position.person.slug %}">{{ position.person.name }}</a></td>
  <td><a href="{% url team_detail position.team.slug %}">{{ position.team }}</a></td>
  <td><a href="{% url position_detail position.slug %}">{{ position.name }}</a></td>
  <td>{{ position.start }}</td>
  <td>{{ position.end }}</td>
</tr>
{% endfor %}
</table>
</div>
{% endif %}

</div>

{% endblock %}
