{% load datum_or_none %}

<table id="game_lineup">
  <thead>
  <tr>

    <th scope="col">{{ game.team1_original_name }}</th>
    <th scope="col" title="goals">g</th>
    <th scope="col" title="assists">a</th>
    <th scope="col" title="minute entered the game">on</th>
    <th scope="col" title="minute left the game">off</th>
    <th scope="col" title="minutes played">min</th>

    <th scope="col">{{ game.team2_original_name }}</th>
    <th scope="col" title="goals">g</th>
    <th scope="col" title="assists">a</th>
    <th scope="col" title="minute entered the game">on</th>
    <th scope="col" title="minute left the game">off</th>
    <th scope="col" title="minutes played">min</th>

  </tr>
  </thead>

  {% with minutes=game.minutes %}

  {% for a,b in game.zipped_gamestats %}
  <tr>

    {% if a.player %}
    <td><a href="{% url 'person_detail' a.player.slug %}">{{ a.player }}</a></td>
    {% else %}
    <td class="greybg"></td>
    {% endif %}

    {% if a %}

    {% datum_or_grey a.goals %}
    {% datum_or_grey a.assists %}




    {% datum_or_grey a.on %}

    {% if a.off == minutes %}
    <td class="greybg">{{ a.off }}</td>
    {% else %}
    {% datum_or_grey a.off %}
    {% endif %}

    {% datum_or_grey a.minutes %}

    {% else %}

    <td class="greybg"></td>
    <td class="greybg"></td>
    <td class="greybg"></td>
    <td class="greybg"></td>
    <td class="greybg"></td>
    {% endif %}


    {% if b.player %}
    <td><a href="{% url 'person_detail' b.player.slug %}">{{ b.player }}</a></td>
    {% else %}
    <td class="greybg"></td>
    {% endif %}

    {% if b %}
    {% datum_or_grey b.goals %}
    {% datum_or_grey b.assists %}



    {% datum_or_grey b.on %}

    {% if b.off == minutes %}
    <td class="greybg">{{ b.off }}</td>
    {% else %}
    {% datum_or_grey b.off %}
    {% endif %}

    {% datum_or_grey b.minutes %}

    {% else %}
    <td class="greybg"></td>
    <td class="greybg"></td>
    <td class="greybg"></td>
    <td class="greybg"></td>
    <td class="greybg"></td>
    {% endif %}

  </tr>
  {% endfor %}

{% endwith %}

</table>
