{% load url from future %}

{% load games %}

{% if game.video %}
<h4 class="headboard">media</h4>
<div id="game-media">
{% include "templatetags/embed.html" with video=game.video %}
</div>
{% endif %}


{% if game.notes %}
<h4 class="headboard">notes</h4>
<p>{{ game.notes }}</p>
{% endif %}


{% if game.series.count > 1 %}
<h3>series</h3>
{% games_table game.series 'referee,attendance' %}
{% endif %}

{% if game.same_day_games %}
<h3>scoreboard</h3>
{% games_table game.same_day_games 'date,referee,attendance' %}
{% endif %}



{% if game_sources %}
<h4 class="headboard">sources</h4>
<ul>
{% for game_source in game_sources %}
<li>

<a href="{% url 'source_detail' game_source.source.id %}">{{ game_source.source|truncatechars:"30" }}</a> 
{% if game_source.source_url %}<a class="external" href="{{ game_source.source_url }}">(☢)</a>
{% else %}
{% if game_source.source.base_url %}<a class="external" href="{{ game_source.source.base_url }}">(link)</a>
{% endif %}
{% endif %}
</li>
{% endfor %}
</ul>

{% endif %}



