
a { color: blue; text-decoration: none; }
a:visited { color: blue; }

ul { list-style-type: none; }

h1 { border-bottom: 10px solid #eee; }

table { border-collapse:collapse;}
tr { margin: 0; padding: 0; }
td, th { margin: 0; padding: 4px 8px; font-size: .9em; border: 2px solid #ddd; }

table.noborder td, table.noborder td { border: 0}

.clear_both { clear: both; }
.clear { clear: both }

.red-bg {    background-color: red;}
.yellow-bg {  background-color: yellow;}
.green-bg {    background-color: #57E674;}
.orange-bg {    background-color: #fcc200;}
.blue-bg { background-color: #0026ff;}
.light-blue-bg { background-color: #b5c0ff;}
.light-grey-bg { background-color: #d9d9d9;}

.win { color: green;}
.tie { color: grey;}
.loss { color: red;}


h1 span.subhead {
    font-size: .55em;
    color: #777;
    margin-left: 15px;
}


/* tabs */

#tabs {
    margin: 0;
    padding: 10px 0;
    }

#tabs li {
    border: 1px solid #ccc;
    color: blue;
    display: inline;
    padding: 3px;
}

#tabs li.grey {
    color: #000;
}


/* Game detail */

#game_score {
}

.center {
    text-align: center;
}

#game_score #team_results {
    margin: 0 auto;
    text-align: center;
}
    
#game_score .team_data {
    display: inline-block;
    margin: 0 10px;
}

#game_score .team {
    font-size: 1.5em;
}

#game_score .score {
    font-size: 2em;
}

#goal_list {
    margin: 20px auto 0 auto;
}

table#game_lineup {
    margin: 20px auto 0 auto;
}





