

a {
    color: blue;
    text-decoration: none;
}

.red-bg {    background-color: red;}
.yellow-bg {  background-color: yellow;}
.green-bg {    background-color: #57E674;}
.orange-bg {    background-color: #fcc200;}
.blue-bg { background-color: #0026ff;}
.light-blue-bg { background-color: #b5c0ff;}
.light-grey-bg { background-color: #d9d9d9;}

.left_half {
    float: left;
    width: 50%;
}

.right_half {
    float: right;
    width: 50%;
}

a:visited {
    color: blue;
}

.align-right {
    text-align: right;
}

#team_logo {
    margin-left: 100px;
    padding: 5px;
    border: 8px solid #ccc;
}

option {
    width: 100px;
}

table {
    border-collapse:collapse;
}

table.noborder {
}

table.noborder td, table.noborder td {
    border: 0
}

tr {
    margin: 0;
    padding: 0;

}

td, th {
    margin: 0;
    padding: 4px 8px;
    font-size: .9em;
    border: 2px solid #ddd;

}

ul {
    list-style-type: none;
}

.grey {
    background-color: #eee;
}

h1 {
    border-bottom: 10px solid #eee;
}

h1 span.subhead {
    font-size: .55em;
    color: #777;
    margin-left: 15px;
}

#header {
    clear: both;
    padding: 0;
    margin: 0;
    border-bottom: 20px solid #eee;
    padding-bottom: 10px;
}


#header li {
    float: left;
    font-size: 1.2em;
    padding-right: 45px;
}

#header li:hover {
}

#header li.first {
}

.clear {
    clear: both
}

#content {
    width: 1280px;
    margin: 0 auto;
}

#left_column {
    float: left;
    width: 760px;
}

#right_column {
    float: right;
    width: 520px;
}



#controls {
    margin: 10px;
}

#controls #hide_control_form {
    text-align: right;
}
    

/* homepage */

#blurb {
    font-size: 2em;


}

#blurb a {
 
}

#blurb a:hover {
    text-decoration: underline;
}

#history_box {
    border: 2px solid black;
    width: 400px;
    padding: 10px;
}

#history_box h4 {
    font-size: 1.5em;
}

#history_box h5, #history_box p {
    padding: 0;
    margin: 0;
}

/* footer */

#footer {
    border-top: 10px solid #eee;
    border-bottom: 20px solid #eee;
    clear: both;
    padding: 0;
    margin: 0;
    padding-bottom: 30px;
}



#footer li {
    float: left;
    font-size: 1.2em;
    padding-right: 45px;
}


/* Letter index pages */

.letter_link {
    font-size: 1.5em;
}


/* Scoreboard */

#scoreboard {
}

#scoreboard h4, #series h4 {
    margin-left: 25px;
}

#sources {
    margin-top: 10px;
    margin-left: 25px;
}

#scoreboard .score {
    border: 1px solid black;
}

/* Contact form */

label {
    width: 200px;
}

input#id_email {
    width: 400px;
}

textarea#id_message {
    width: 400px;
}

/* Game detail */

#game_score {
}

.center {
    text-align: center;
}

#game_score #team_results {
    margin: 0 auto;
    text-align: center;
}
    
#game_score .team_data {
    display: inline-block;
    margin: 0 10px;
}

#game_score .team {
    font-size: 1.5em;
}

#game_score .score {
    font-size: 2em;
}

#goal_list {
    margin: 20px auto 0 auto;
}

table#game_lineup {
    margin: 20px auto 0 auto;
}

.clear_both {
    clear: both;
}


/* Season Detail */

.headline {
    text-align: center;
}

h2.headline {
    font-size: 1.8em;
}


/* Search */

#search_form {
    margin-right: 5%;
}
    
#search_form #id_q {
    width: 180px;
}

#search_form input {
    height: 15px;
}
    

.bigboard {
    float: left;
    font-size: .8em;
    padding: 0;
    margin: 0;
    width: 11%;
}

.bigboard h3 {
    font-size: .9em;
}

.bigboard ul {
    padding: 0;
    margin: 0;
    padding-top: 5px;
    background-color: #eee;
}

.bigboard li {
    border: 2px solid #fff;
    border-bottom: 0;
    padding: 3px;
    
}

#ajax_box {
    margin-top: 20px;
    padding-top: 10px;
    position: fixed;
    right: 10px;
    border: 1px solid black;
    background-color: #eee;
    width: 28%;
    bottom: 20px;
}

.small {
    font-size: .7em;
    padding: 0;
    border: 0;
}


/* Generic */

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.red {
    background-color: red;
}


/* tabs */

#tabs {
    margin: 0;
    padding: 10px 0;
    }

#tabs li {
    border: 1px solid #ccc;
    color: blue;
    display: inline;
    padding: 3px;
}

#tabs li.grey {
    color: #000;
}


.win {
    color: green;
}

.tie {
    color: grey;
}

.loss {
    color: red;
}

#date_nav {
    font-size: 1.5em;
    margin-left: 100px;
}

#specific_date {
    width: 200px;
}

#error_dialog {
    display: none;
    width: 800px;
}

#id_honeypot {
    display: none;
}