

a {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
}

.align-right {
    text-align: right;
}

tr {
    margin: 0;
    padding: 0;
}

td {
    padding: 0 20px;
    font-size: 1.3em;
    border: 1px solid #ddd;
}

ul {
    list-style-type: none;
}

.grey {
    background-color: #eee;
}

#header {
    clear: both;
}


#header li {
    float: left;
    font-size: 1.4em;
    padding-right: 45px;
    padding-top: .8em;
}

#header li:hover {
}

#header li.first {
    font-size: 2.5em;
    padding-top: 0px;
}

.clear {
    clear: both
}
    