{% extends "base.html" %}
{% load datum_or_none %}

{% block title %}{{ competition.name }} Soccer History {% endblock %}
{% block metadescription %}{{ competition.name }} soccer stats with standings, results, lineups, awards, all-time stats...{% endblock %}

{% block content %}


<h3>Level: {{ level }}</h3>


<ul id="tabs"></ul>

<div id="tab_wrapper">

<div tab="summary">
{% include "templatetags/standings/compact.html" with standings=standings %}


<table>
<th><td>Goal leaders</td></th>

{% for stat in goal_leaders %}

<tr>
  <td>{{ stat.goals }}</td>
  <td><a href="{% url person_detail stat.player.slug %}">{{ stat.player }}</a></td>
</tr>
{% endfor %}
</table>



<table>
<th><td>Game leaders</td></th>
{% for stat in game_leaders %}
<tr>
  <td>{{ stat.games_played }}</td>
  <td><a href="{% url person_detail stat.player.slug %}">{{ stat.player }}</a></td>
</tr>
{% endfor %}
</table>


</div>





<div tab="seasons">
<table>
  <tr>
    <th>competition</th>
    <th>season</th>
    <th>champion</th>
    <th>MVP</th>
    <th>Golden Boot</th>
    <th>Average age</th>
    <th>Ages known %</th>
  </tr>


  {% for season in seasons %}
  <tr>
    <td>{{ competition }}</td>
    <td><a href="{% url season_detail competition.slug season.slug %}">{{ season.name }}</a></td>
    <td><a href="{{ season.champion.recipient.get_absolute_url }}">{{ season.champion.recipient }}</a></td>

    {% with season.mvp.recipient as mvp %}
    {% if mvp %}
    <td><a href="{% url person_detail mvp.slug %}">{{ mvp }}</a></td>
    {% else %}
    <td></td>
    {% endif %}
    {% endwith %}

    {% if season.golden_boot %}
    <td><a href="{% url person_detail season.golden_boot.slug %}">{{ season.golden_boot }}</a></td>
    {% else %}
    <td></td>
    {% endif %}

    <td>{{ season.average_age|floatformat }}</td>
    <td>{{ season.age_minutes_proportion|floatformat:"3" }}</td>

  </tr>
  {% endfor %}
    
</table>
</div>






{% if games %}
<div tab="games">
{% include "templatetags/games.html" %}
</div>
{% endif %}

{% if stats %}
<div tab="stats" >
{% include "templatetags/career_bio.html" %}
</div>
{% endif %}




{% if awards %}
<div tab="awards">
<table>
{% for award in awards %}
<tr>
  <td><a href="{% url award_detail award.id %}">{{ award }}</a></td>
</tr>
{% endfor %}
</table>
</div>
{% endif %}


</div>

{% endblock %}
