body {}

td.w { background-color: green; }
td.l { background-color: red; }
td.t { background-color: yellow; }
td.date { width: 200px;}

td.international { background-color: #cdf }
td.domestic { background-color: #fec;}
td.friendly { background-color: #fff;}

html, body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

html { 
    font-size: 1.75em;
}

ul {
    list-style-type: none;
}

#header {
    height: 75px;
    font-size: 60px;
    text-align: right;
    background-color: white;
    border-bottom: 5px solid black;
    padding-bottom: 5px;
    margin-bottom: 0;
    cursor: pointer;
}


#menu {
    text-align: center;
    display: none;
    background-color: #fff;
    position: absolute;
    margin-left: 20%;
    border: solid black;
    border-width: 5px 5px 5px;
    margin-top: -5px;
    width: 80%;
    height: 80%;
    font-size: 1.5em;
    z-index: 100;

}


#content {
    margin: 3%;
    padding-top: 5%;
}

#menu ul {
    list-style-type: none;
    float: left;
}

#menu li {
    padding: 10px;
}

#menu li:hover {
        background-color: #eee;
}

#bio_image {
    float: left;
    height: 150px;
    background-color: #eee;
    min-width: 120px;
}

#bio_data {
    display: inline-block;
    }

#tab_block {
    position: absolute;
    right: 50px;
    top: 100px;
    }

#tab_block ul {
    margin: 0;
    padding: 0;
    }

#tab_block li {
    float: left;
    border: 5px solid #eee;
}

#tab_block li:hover {
    background-color: #eee;
}

#subtabs {

    }

#subtabs li {
    float: left;
    border: 5px solid #eee;
    margin-bottom: 5px;
}

#subtabs li:hover {
    background-color: #eee;
}

#team_logo { 
    float: left;
}

#team_logo {
    width: 150px;
    height: 150px;
    background-color: #eee;
    }

.col { 
    float: left;
    width: 40%;
    margin: 0 5%;
}

#team_info, #bio_block, #competition_block, #season_block, #draft_block, #date_block, #game_block, #stadium_block, #city_block {
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 5px solid black;
    border-width: 0 5px 5px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;

}

#date_block {
    font-size: 2.5em;
    font-weight: 100;
    }

.block {
    display: inline-block;
}

a, a:visited {
    /*color: blue;*/
    color: #37c;
    text-decoration: none;
}


#menu-button a, #menu-button a:visited {
    color: black;
    text-decoration: none;
}

#menu-button a:visited {
    color: black;
}


table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

table td, table th {
    border: 5px solid #eee;
}



.letter_link {
    font-size: 2em;
}


table.standings {
    margin-bottom: 10px;
}


table.stats td:first-child {
    text-align: right;
    padding-right: 10px;
}


table.game-list td:first-child {
    text-align: right;
    padding-right: 10px;
}

.grey {
    color: #ccc;
}

.greybg {
    background-color: #eee;
}



#awards_index .cmp {
    font-size: 1.7em;
    padding: 2% 0 1% 10%;
}

#awards_index ul {
    width: 60%;
    margin: 0 auto;
}

#award_detail {
    font-size: 1.5em;
}





/* Search */

#search_box, #search_results { 
    position: absolute;
}

#search_box {
    text-align: left;
    background-color: #eee;
    padding: 50px;
}

#search_results { 
    right: 0;
    padding: 20px 0 20px 20px;
    background-color: #eee;
    height: 100%;
}

#search_results table {
    margin-top: 20px;
    width: 470px;
    border: 0;
}

#search_results td.model {
    width: 90px;
}

#search_results td {
    border: 0;
}

#search_results #search_directions {
    padding: 10px 0 10px 10px;
    position: fixed;
    bottom: 20px;
}

td.result {
    width: 70px;
}



/* Game detail */


/* game detail */


#game-detail #game-media {
    text-align: center;
}



.center {
    text-align: center;
}

#game_score #team_results {
    margin: 0 auto;
    text-align: center;
}
    
#game_score .team_data {
    padding-top: 10px;
    display: inline-block;
    margin: 0 10px;
}


#goal_list {
    margin: 20px auto 0 auto;
}

#goal_list .assist {
    font-size: .6em;
}

table#game_lineup {
    margin: 20px auto 0 auto;
}
