{% load datum_or_none %}

<table id="bio">

<thead>
  <tr>
    <th>player</th>
    <th>team</th>
    <th>cmp</th>
    <th>season</th>
    <th>gp</th>
    <th>gs</th>
    <th>min</th>
    <th>goals</th>
    <th>assists</th>
    <th>shots</th>

    

    {% comment %}
    <th>w</th>
    <th>t</th>
    <th>l</th>



    <th>gf</th>
    <th>ga</th>
    <th>+-</th>
    <th>+-/90</th>
    <th>ga/90</th>
    {% endcomment %}

  </tr>
</thead>

<tbody>
{% for stat in stats %}
<tr>
  {% if stat.player.slug %}
  <td><a href="{% url person_detail stat.player.slug %}">{{ stat.player }}</a></td>
  {% else %}
  <td></td>
  {% endif %}

  {% if stat.team %}
  <td><a href="{% url team_detail stat.team.slug %}">{{ stat.team }}</a></td>
  {% else %}
  <td></td>
  {% endif %}

  {% if stat.competition %}
  <td><a href="{% url competition_detail stat.competition.slug %}">{{ stat.competition.abbreviation }}</a></td>
  {% else %}
  <td></td>
  {% endif %}

  {% if stat.season %}
  <td><a href="{% url season_detail stat.competition.slug stat.season.slug %}">{{ stat.season.name }}</a></td>
  {% else %}
  <td></td>
  {% endif %}

  {% datum_or_grey stat.games_played %}
  {% datum_or_grey stat.games_started %}
  {% datum_or_grey stat.minutes %}
  {% datum_or_grey stat.goals %}
  {% datum_or_grey stat.assists %}
  {% datum_or_grey stat.shots %}

  {% comment %}
  {% datum_or_grey stat.wins %}
  {% datum_or_grey stat.ties %}
  {% datum_or_grey stat.losses %}


  {% datum_or_grey stat.goals_for %}
  {% datum_or_grey stat.goals_against %}
  {% datum_or_grey stat.plus_minus %}
  <td>{{ stat.plus_minus_per_90|floatformat:"2" }}</td>
  <td>{{ stat.goals_assists_per_90|floatformat:"2" }}</td>
  {% endcomment %}

</tr>
{% endfor %}
</tbody>

</table>
