{% load datum_or_none %}
{% load url from future %}

<table id="bio">

<thead>
  <tr>
    <th></th>
    <th>gp</th>
    <th>gs</th>
    <th>min</th>
    <th>g</th>
    <th>a</th>
    <th>sh</th>

    {% comment %}
    <th>w</th>
    <th>t</th>
    <th>l</th>


    <th>gf</th>
    <th>ga</th>
    <th>+-</th>
    <th>+-/90</th>
    <th>ga/90</th>
    {% endcomment %}

  </tr>
</thead>

<tbody>
{% for stat in stats %}
<tr>
  {% if stat.player.slug %}
  <td><a href="{% url 'person_detail' stat.player.slug %}">{{ stat.player }}</a></td>
  {% else %}
  <td></td>
  {% endif %}

  {% datum_or_grey stat.games_played %}
  {% datum_or_grey stat.games_started %}
  {% datum_or_grey stat.minutes %}
  {% datum_or_grey stat.goals %}
  {% datum_or_grey stat.assists %}
  {% datum_or_grey stat.shots %}

  {% comment %}
  {% datum_or_grey stat.wins %}
  {% datum_or_grey stat.ties %}
  {% datum_or_grey stat.losses %}


  {% datum_or_grey stat.goals_for %}
  {% datum_or_grey stat.goals_against %}
  {% datum_or_grey stat.plus_minus %}


  <td>{{ stat.plus_minus_per_90|floatformat:"2" }}</td>
  <td>{{ stat.goals_assists_per_90|floatformat:"2" }}</td>
  {% endcomment %}

  {% comment %}

  {% if stat.player.birthdate %}
  <td><a href="{% url 'date_detail' stat.player.birthdate.year stat.player.birthdate.month stat.player.birthdate.day %}">{{ stat.player.birthdate }}</a></td>
  {% else %}
  <td></td>
  {% endif %}

  {% if stat.player.age_years %}
  <td>{{ stat.player.age_years|floatformat:"2" }}</td>
  {% else %}
  <td></td>
  {% endif %}

  {% if stat.player.birthplace %}
  <td><a href="{% url 'city_detail' stat.player.birthplace.slug %}">{{ stat.player.birthplace }}</a></td>
  {% else %}
  <td></td>
  {% endif %}

  {% endcomment %}


</tr>
{% endfor %}
</tbody>

</table>
