{% load datum_or_none %}

<table class="standings_list">

  <thead>
  <tr>
    <th scope="col">player</th>
    <th scope="col">gp</th>
    <th scope="col">gs</th>
    <th scope="col">min</th>
    <th scope="col">g</th>
    <th scope="col">a</th>
    <th scope="col">wins</th>
    <th scope="col">ties</th>
    <th scope="col">losses</th>
    <th scope="col">%</th>
    <th scope="col">gf</th>
    <th scope="col">ga</th>
  </tr>
  </thead>

  <tbody>

  <tr>
  {% if stat.player.slug %}
  <td><a href="{% url 'person_detail' stat.player.slug %}">{{ stat.player }}</a></td>
  {% else %}
  <td></td>
  {% endif %}


    {% datum_or_grey stat.games_played %}
    {% datum_or_grey stat.games_started %}
    {% datum_or_grey stat.minutes %}
    {% datum_or_grey stat.goals %}
    {% datum_or_grey stat.assists %}
    <td>{{ stat.wins }}</td>
    <td>{{ stat.ties|default_if_none:'' }}</td>
    <td>{{ stat.losses }}</td>
    <td>{{ stat.win_percentage_100|floatformat:2 }}</td>
    {% datum_or_grey  stat.goals_for %}
    {% datum_or_grey stat.goals_against %}
  </tr>
  </tbody>

</table>

