{% load datum_or_none %}

<table>
  <tr>
    <th>{{ game.team1 }}</th>
    <th>on</th>
    <th>min</th>
    <th>min</th>
    <th>on</th>
    <th>{{ game.team2 }}</th>
  </tr>

  {% for a,b in game.zipped_lineups %}
  <tr>
    {% if a.player %}
    <td><a href="{% url person_detail a.player.slug %}">{{ a.player }}</a></td>
    {% else %}
    <td class="grey"></td>
    {% endif %}

    {% if a %}
    {% datum_or_grey a.on %}
    {% datum_or_grey a.minutes %}
    {% else %}
    <td class="grey"></td>
    <td class="grey"></td>
    {% endif %}

    {% if b %}
    {% datum_or_grey b.minutes %}
    {% datum_or_grey b.on %}
    {% else %}
    <td class="grey"></td>
    <td class="grey"></td>
    {% endif %}

    {% if b.player %}
    <td><a href="{% url person_detail b.player.slug %}">{{ b.player }}</a></td>
    {% else %}
    <td class="grey"></td>
    {% endif %}

  </tr>
  {% endfor %}
</table>
