{% load datum_or_none %}

<table id="player_chart">

  <thead>
  <tr>
    <th>player</th>
    {% for year in chart_years %}
    <th>{{ year }}</th>
    {% endfor %}
  </tr>
  </thead>

  <tbody>
  {% for player, years in chart %}
  <tr>
    <td><a href="{% url person_detail player.slug %}">{{ player }}</a></td>
    <td>{{ player.age_years|floatformat:1 }}</td>
    {% for year in years %}
    {% if year == 0 %}
    <td></td>
    {% endif %}
    {% if year == 1 %}
    <td>-</td>
    {% endif %}
    {% if year == 2 %}
    <td>+</td>
    {% endif %}
    {% endfor %}

  </tr>
  {% endfor %}
  </tbody>

</table>
