{% load datum_or_none %}

<table>

<thead>
  <tr>
    <th>name</th>
    <th>team</th>
    <th>cmp</th>
    <th>season</th>
    <th>position</th>
    <th>w</th>
    <th>t</th>
    <th>l</th>
    <th>%</th>
    <th>gf</th>
    <th>ga</th>
  </tr>
</thead>

<tbody>
{% for stat in stats %}
<tr>
  {% if stat.player.slug %}
  <td><a href="{% url person_detail stat.player.slug %}">{{ stat.player }}</a></td>
  {% else %}
  <td></td>
  {% endif %}

  {% if stat.team %}
  <td><a href="{% url team_detail stat.team.slug %}">{{ stat.team }}</a></td>
  {% else %}
  <td></td>
  {% endif %}

  {% if stat.competition %}
  <td><a href="{% url competition_detail stat.competition.slug %}">{{ stat.competition.abbreviation }}</a></td>
  {% else %}
  <td></td>
  {% endif %}

  {% if stat.season %}
  <td><a href="{% url season_detail stat.competition.slug stat.season.slug %}">{{ stat.season.name }}</a></td>
  {% else %}
  <td></td>
  {% endif %}

  {% datum_or_grey stat.position %}
  {% datum_or_grey stat.wins %}
  {% datum_or_grey stat.ties %}
  {% datum_or_grey stat.losses %}

  {% with wp=stat.win_percentage_100|floatformat %}
  {% datum_or_grey wp %}
  {% endwith %}

  {% datum_or_grey stat.goals_for %}
  {% datum_or_grey stat.goals_against %}
</tr>
{% endfor %}
</tbody>

</table>
