{% comment %}
{% if games.exists %}
<div id="scoreboard">
  {% for game in games %}
  <div class="score">

    <a href="{% url game_detail game.id %}">
    <div>{{ game.team1_original_name }} {{ game.r
    <div>{{ game.team2_original_name }} {{ game.team2_score_or_result }}</div>
    </a>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endcomment %}

<div id="scoreboard">
<h4>Other results for <a href="{% url date_detail game.date.year game.date.month game.date.day %}">{{ game.date|date:"F d, Y" }}</a></h4>
<table>
  {% for game in games %}
  <tr class="score">
    <td><a href="{% url competition_detail game.competition.slug %}">{{ game.competition.abbreviation }}</a></td>

    {% if game.winner == game.team1 %}
    <td><a href="{% url team_detail game.team1.slug %}"><strong>{{ game.team1_original_name }}</strong></a></td>
    {% else %}
    <td><a href="{% url team_detail game.team1.slug %}">{{ game.team1_original_name }}</a></td>
    {% endif %}
    <td><a href="{% url game_detail game.id %}">{{ game.score_or_result }}</a></td>
    {% if game.winner == game.team2 %}
    <td><a href="{% url team_detail game.team2.slug %}"><strong>{{ game.team2_original_name }}</strong></a></td>
    {% else %}
    <td><a href="{% url team_detail game.team2.slug %}">{{ game.team2_original_name }}</a></td>
    {% endif %}

    {% if game.stadium %}
    <td><a href="{% url stadium_detail game.stadium.slug %}"><strong>{{ game.stadium }}</strong></a></td>
    {# {% if game.city.slug %}<a href="{% url city_detail game.city.slug %}">, {{ game.city.name }}</a>{% endif %} #}
    {% else %}
    {% if game.city %}
    <td><a href="{% url city_detail game.city.slug %}">{{ game.city }}</a></td>
    {% else %}
    <td></td>
    {% endif %}
    {% endif %}
  </tr>
  {% endfor %}
</table>
</div>
