{% load datum_or_none %}
{% load url from future %}

{% if standings.exists %}

{% with s0=standings.0 %}


<table class="standings">

<thead>
<tr>
  {% if 'team' not in exclude %}<th></th>{% endif %}
  {% if 'competition' not in exclude %}<th></th>{% endif %}
  {% if 'season' not in exclude %}<th></th>{% endif %}

  <th>GP</th>
  <th>W</th>
  {% if s0.shootout_wins != None %}<th>SOW</th>{% endif %}
  <th>T</th>
  {% if s0.shootout_losses != None %}<th>SOL</th>{% endif %}
  <th>L</th>

  {% if 'pts' not in exclude %}<th>pts</th>{% endif %}

  <th>gf</th>
  <th>ga</th>
  
  {% if 'ppg' not in exclude %}<th>ppg</th>{% endif %}
  <th>gf/ga</th>

</tr>
</thead>

<tbody>
{% for standing in standings %}
<tr>

  {% if 'team' not in exclude %}
  {% if standing.team.slug %}
  <td><a href="{% url 'team_detail' standing.team.slug %}">{{ standing.team.name }}</a></td>
  {% else %}
  <td>{{ standing.team.name }}</td>
  {% endif %}
  {% endif %}


  {% if 'competition' not in exclude %}
  {% if standing.competition.slug %}
  <td><a href="{% url 'competition_detail' standing.competition.slug %}">{{ standing.competition.abbreviation }}</a></td>
  {% else %}
  <td>{{ standing.competition.abbreviation }}</td>
  {% endif %}
  {% endif %}

  {% if 'season' not in exclude %}
  {% if standing.season.slug %}
  <td><a href="{% url 'season_detail' standing.competition.slug standing.season.slug %}">{{ standing.season.name }}</a></td>
  {% else %}
  <td>{{ standing.season.name }}</td>
  {% endif %}
  {% endif %}


  <td>{{ standing.games }}</td>
  <td>{{ standing.wins }}</td>
  {% if s0.shootout_wins != None %}<td>{{ standing.shootout_wins|default_if_none:'' }}</td>{% endif %}
  <td>{{ standing.ties|default_if_none:'' }}</td>

  {% if s0.shootout_losses != None %}<td>{{ standing.shootout_losses|default_if_none:'' }}</td>{% endif %}
  <td>{{ standing.losses }}</td>

  {% if 'pts' not in exclude %}
  <td>{{ standing.points }}</td>
  {% endif %}


  {% datum_or_grey  standing.goals_for %}
  {% datum_or_grey standing.goals_against %}

  {% if 'ppg' not in exclude %}
  <td>{{ standing.points_per_game|floatformat:2 }}</td>
  {% endif %}

  <td>{{ standing.goal_ratio|floatformat:2 }}</td>


</tr>
{% endfor %}
</tbody>

</table>

{% endwith %}
{% endif %}
