{% load datum_or_none %}
{% load url from future %}

{% if stats.exists %}

<table class="stats">

<thead>
  <tr>
    {% if 'player' not in exclude %}<th></th>{% endif %}
    {% if 'team' not in exclude %}<th></th>{% endif %}
    {% if 'competition' not in exclude %}<th></th>{% endif %}
    {% if 'season' not in exclude %}<th></th>{% endif %}
    <th title="games played" >gp</th>
    {% if has_games_started %}<th title="games started">gs</th>{% endif %}
    {% if has_minutes %}<th title="minutes">min</th>{% endif %}
    <th title="goals">g</th>
    {% if has_assists %}<th title="assists">a</th>{% endif %}
    {% if has_shots %}<th title="shots">sh</th>{% endif %}

    {% comment %}
    <th>w</th>
    <th>t</th>
    <th>l</th>

    <th>gf</th>
    <th>ga</th>
    <th>+-</th>
    <th>+-/90</th>
    <th>ga/90</th>
    {% endcomment %}

  </tr>
</thead>



<tbody>
{% for stat in stats %}
<tr>


  {% if 'player' not in exclude %}
  {% if stat.player.slug %}
  <td><a href="{% url 'person_detail' stat.player.slug %}">{{ stat.player }}</a></td>
  {% else %}<td></td>{% endif %}{% endif %}

  {% if 'team' not in exclude %}{% if stat.team.slug %}
  <td><a href="{% url 'team_detail' stat.team.slug %}">{{ stat.team }}</a></td>
  {% else %}<td></td>{% endif %}{% endif %}

  {% if 'competition' not in exclude %}
  {% if stat.competition.slug %}
  <td><a title="{{ stat.competition.name }}" href="{% url 'competition_detail' stat.competition.slug %}">{{ stat.competition.abbreviation }}</a></td>
  {% else %}
  <td>{{ stat.competition.abbreviation }}</td>
  {% endif %}
  {% endif %}

  {% if 'season' not in exclude %}
  {% if stat.season.slug %}
  <td><a href="{% url 'season_detail' stat.competition.slug stat.season.slug %}">{{ stat.season.name }}</a></td>
  {% else %}
  <td>{{ stat.season.name }}</td>
  {% endif %}
  {% endif %}

  
  {% datum_or_grey stat.games_played %}
  {% if has_games_started %}{% datum_or_grey stat.games_started %}{% endif %}
  {% if has_minutes %}{% datum_or_grey stat.minutes %}{% endif %}
  {% datum_or_grey stat.goals %}
  {% if has_assists %}{% datum_or_grey stat.assists %}{% endif %}
  {% if has_shots %}{% datum_or_grey stat.shots %}{% endif %}



  {% comment %}
  {% datum_or_grey stat.wins %}
  {% datum_or_grey stat.ties %}
  {% datum_or_grey stat.losses %}
  {% datum_or_grey stat.goals_for %}
  {% datum_or_grey stat.goals_against %}
  {% datum_or_grey stat.plus_minus %}
  <td>{{ stat.plus_minus_per_90|floatformat:"2" }}</td>
  <td>{{ stat.goals_assists_per_90|floatformat:"2" }}</td>

  {% if stat.player.birthdate %}
  <td><a href="{% url 'date_detail' stat.player.birthdate.year stat.player.birthdate.month stat.player.birthdate.day %}">{{ stat.player.birthdate }}</a></td>
  {% else %}
  <td></td>
  {% endif %}

  {% if stat.player.age_years %}
  <td>{{ stat.player.age_years|floatformat:"2" }}</td>
  {% else %}
  <td></td>
  {% endif %}

  {% if stat.player.birthplace %}
  <td><a href="{% url 'city_detail' stat.player.birthplace.slug %}">{{ stat.player.birthplace }}</a></td>
  {% else %}
  <td></td>
  {% endif %}
  {% endcomment %}


</tr>
{% endfor %}
</tbody>

</table>


{% endif %}
