<p>{{ player.name }}</p>
<p>{{ player.birthplace }}, {{ player.age_years|floatformat:1 }}</p>

<ul>
  {% for pick in player.usmnt_draft_picks %}
  <li>{{ pick.draft }} - {{ pick.position }}</li>
  {% endfor %}
</ul>

<table class="small inline">
  <tr>
    <th></th>
    <th>gp</th>
    <th>g</th>
    <th>a</th>
  </tr>

  <tr>
    <td>career</td>
    {% with cs=player.career_stat %}
    <td>{{ cs.games_played }}</td>
    <td>{{ cs.goals }}</td>
    <td>{{ cs.assists }}</td>
    {% endwith %}
  </tr>

  {% for stat in player.team_stats %}
  <tr>
    <td>{{ stat.team }}</td>
    <td>{{ stat.games_played }}</td>
    <td>{{ stat.goals }}</td>
    <td>{{ stat.assists }}</td>
  </tr>
  {% endfor %}
  
</table>



