{% extends "base.html" %}
{% load datum_or_none %}

{% block content %}

<h4><a href="{% url season_detail draft.season.competition.slug draft.season.slug %}">{{ draft.season }}</a> | {{ draft.name }}</h4>

{% if draft.pick_set.exists %}


{% load datum_or_none %}

<table id="draft">
<tr>
  <th>#</th>
  <th>name</th>
  <th>pos.</th>
  <th>team</th>
  <th>from</th>
  <th>gp</th>
  <th>minutes</th>
  <th>goals</th>
  <th>age</th>
  <th>birthplace</th>
<tr>



{% for pick in draft.pick_set.all %}
{% with cs=pick.player.career_stat %}
<tr>

  <td>{{ pick.number }}</td>

  {% if pick.pick %}
  <td><a href="{% url draft_detail pick.pick.draft.competition.slug pick.pick.draft.slug pick.pick.draft.season.slug %}">{{ pick.text }}</a> (<a href="{% url person_detail pick.pick.player.slug %}">{{ pick.pick.player }}</a>)</td>

  {% else %}
  {% if pick.player %}
  <td><a href="{% url person_detail pick.player.slug %}">{{ pick.player }}</a></td>
  {% else %}
  <td>PASS</td>
  {% endif %}

  {% endif %}

  {% datum_or_grey pick.position %}
  <td><a href="{% url team_detail pick.team.slug %}">{{ pick.team }}</a></td>

  {% if pick.former_team %}
  <td><a href="{% url team_detail pick.former_team.slug %}">{{ pick.former_team }}</a></td>
  {% else %}
  <td></td>
  {% endif %}

  {% if cs %}
  {% datum_or_grey cs.games_played %}
  {% datum_or_grey cs.minutes %}
  {% datum_or_grey cs.goals %}
  {% else %}
  <td></td>
  <td></td>
  <td></td>
  {% endif %}

  <td>{{ pick.player.age_years|floatformat }}</td>

  {% if pick.player.birthplace %}
  <td><a href="{% url city_detail pick.player.birthplace.slug %}">{{ pick.player.birthplace }}</a></td>
  {% else %}
  <td></td>
  {% endif %}

</tr>
{% endwith %}
{% endfor %}
</table>

{% endif %}

{% endblock %}
