{% extends "base.html" %}
{% load datum_or_none %}

{% block title %}{{ competition.name }} Soccer History {% endblock %}
{% block metadescription %}{{ competition.name }} soccer stats with standings, results, lineups, awards, all-time stats...{% endblock %}

{% block extrahead %}
<style>
#attendance-chart {
position: fixed;
margin-left: 5%;
top: 10%;
}
</style>
{% endblock %}

{% block content %}


<h3><a href="{% url competition_detail competition.slug %}">{{ competition }}</a></h3>


<ul id="tabs"></ul>

<div id="tab_wrapper">


<div tab="yearly">


{% if competition.season_set.exists %}
<table>
  <tr>
    <th></th>
    <th>avg</th>
    <th>total</th>
    <th>gms</th>
  </tr>
{% for season in competition.season_set.all %}
<tr>
  <td><a href="{% url season_detail competition.slug season.slug %}">{{ season.name }}</a></td>
  <td>{{ season.average_attendance }}</td>
  <td>{{ season.total_attendance }}</td>
  <td>{{ season.games_with_attendance }}</td>
</tr>
{% endfor %}
</table>

{% endif %}

</div>


<div tab="records">

  {% if top_attendance_games %}
  <p>best attendances</p>
  {% include "templatetags/games/attendance.html" with games=top_attendance_games %}
  {% endif %}

  {% if worst_attendance_games %}
  <p>worst attendances</p>
  {% include "templatetags/games/attendance.html" with games=worst_attendance_games %}
  {% endif %}


</div>

<div tab="charts">

<div id="attendance-chart">
</div>

<script>

var tdata = {{ attendance_data|safe }};

var zdata = {{ team_data|safe }};

var margin = {top: 20, right: 20, bottom: 130, left: 300},
width = 960 - margin.left - margin.right,
height = 500 - margin.top - margin.bottom;

//var formatPercent = d3.format(".0%");

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1, 1).domain(tdata.map(function(d) { return d[0]; }));

var y = d3.scale.linear()
    .range([height, 0]).domain([0, d3.max(tdata, function(d) { return d[1]})]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
//    .tickFormat(formatPercent);

var svg = d3.select("#attendance-chart").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .attr("font-size", ".4em")
    .call(xAxis)
    .selectAll("text")  
    .style("text-anchor", "end")
    .attr("dx", "-.8em")
    .attr("dy", ".15em")
    .attr("transform", function(d) {
        return "rotate(-65)" 
    });

svg.append("g")
    .attr("class", "y axis")
    .call(yAxis)
    .append("text")
    .attr("transform", "rotate(-90)")
    .attr("y", 6)
    .attr("dy", ".71em")
    .style("text-anchor", "end")
    .text("avg. attendance");

svg.selectAll(".bar")
    .data(tdata)
    .enter().append("rect")
    .attr("class", "bar")
    .attr("x", function(d) { return x(d[0]); })
    .attr("width", x.rangeBand())
    .attr("y", function(d) { return y(d[1]); })
    .attr("height", function(d) { return height - y(d[1]); });


</script>

</div>

</div>


{% endblock %}
