{% extends "base.html" %}
{% load datum_or_none %}
{% load standings %}
{% load seasons %}
{% load stats %}
{% load games %}

{% block title %}{{ competition.name }} history{% endblock %}
{% block metadescription %}Standings, results, player statistics, and awards for the {{ competition.name }}{% endblock %}

{% block content %}

<div id="competition_block">

  <h1>{{ competition.name }}</h1>

  {% if competition.after.exists or competition.before.exists %}
  <p class="lineage">
  {% if competition.after.exists %}preceded by {% for item in competition.after.all %}<a title="{{ item.before.name }}" href="{% url 'competition_detail' item.before.slug %}">{{ item.before.abbreviation|default:item.before.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}
  {% if competition.after.exists and competition.before.exists %}&middot;{% endif %}
  {% if competition.before.exists %}followed by {% for item in competition.before.all %}<a title="{{ item.after.name }}" href="{% url 'competition_detail' item.after.slug %}">{{ item.after.abbreviation|default:item.after.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}
  </p>
  {% endif %}


</div>

<div id="tab_block">
<ul id="tabs"></ul>
</div>


<div id="tab_wrapper">


<div tab="seasons">
<h3>Seasons</h3>
{% seasons_table competition.season_set.reverse %}
</div>

<div tab="stats">
<h3>Career leaders</h3>
{% stats_table stats 'team,season'%}
<p class="more-links"><a href="{% url 'competition_stats' competition.slug %}">all {{ competition.abbreviation|default:competition.name }} stats &rarr;</a></p>
</div>


{% if big_winners %}
<div tab="standings">
<h3>All-time club records</h3>
{% standings_table big_winners 'competition,season' %}
</div>
{% endif %}

<div tab="games">
<h3>Most recent games</h3>
{% games_table games 'competition,referee,attendance' %}
<p class="more-links"><a href="{% url 'competition_games' competition.slug %}">all {{ competition.abbreviation|default:competition.name }} games &rarr;</a></p>
</div>

{% if awards %}
<div tab="awards">
<h3>Awards</h3>
<table>
<thead>
  <tr>
    <th scope="col">award</th>
    <th scope="col">seasons</th>
    <th scope="col">winners</th>
    <th scope="col">most recent</th>
  </tr>
</thead>
{% for row in awards %}
<tr>
  <td><a href="{% url 'award_detail' row.award.id %}">{{ row.award.name }}</a></td>
  {% if row.first_season %}
  <td>{{ row.first_season.name }}{% if row.last_season.name != row.first_season.name %}&ndash;{{ row.last_season.name }}{% endif %}</td>
  {% else %}
  <td class="grey"></td>
  {% endif %}
  <td>{{ row.count }}</td>
  {% if row.latest %}
  <td><a href="{{ row.latest.recipient.get_absolute_url }}">{{ row.latest.recipient }}</a> {{ row.latest.season.name }}</td>
  {% else %}
  <td class="grey"></td>
  {% endif %}
</tr>
{% endfor %}
</table>
</div>
{% endif %}

</div>


{% endblock %}
