{% extends "base.html" %}
{% load datum_or_none %}

{% block title %}{{ competition.name }} Soccer History {% endblock %}
{% block metadescription %}{{ competition.name }} soccer stats with standings, results, lineups, awards, all-time stats...{% endblock %}

{% block content %}


<h2 class="headline">{{ competition }}</h2>


{% if competition.season_set.count == 1 %}
<h3 class="center"><a href="{% url season_detail competition.slug competition.first_season.slug %}">{{ competition.first_season.name }}</a></h3>
{% elif competition.season_set.count > 1 %}
<h3 class="center"><a href="{% url season_detail competition.slug competition.first_season.slug %}">{{ competition.first_season.name }}</a> to <a href="{% url season_detail competition.slug competition.last_season.slug %}">{{ competition.last_season.name }}</a></h3>
{% endif %}

<h3 class="center">{{ competition.area }} - Level {{ competition.level }}</h3> 




<div id="left_column">


{% if competition.season_set.exists %}
<table>
  <tr>
    <th>season</th>
    <th>champion</th>
    <th>MVP</th>
    <th>Golden Boot</th>


    {% comment %}
    <th>Average age</th>
    <th>Ages known %</th>
    
    <th>games</th>
    <th>goals</th>
    <th>stats</th>
    {% endcomment %}
  </tr>


  {% for season in competition.season_set.all %}
  <tr>
    <td><a href="{% url season_detail competition.slug season.slug %}">{{ season.name }}</a></td>
    <td><a href="{{ season.champion.recipient.get_absolute_url }}">{{ season.champion.recipient }}</a></td>

    {% with season.mvp.recipient as mvp %}
    {% if mvp %}
    <td><a href="{% url person_detail mvp.slug %}">{{ mvp }}</a></td>
    {% else %}
    <td></td>
    {% endif %}
    {% endwith %}

    {% if season.golden_boot %}
    <td><a href="{% url person_detail season.golden_boot.slug %}">{{ season.golden_boot }}</a></td>
    {% else %}
    <td></td>
    {% endif %}

    {% comment %}
    <td>{{ season.average_age|floatformat }}</td>
    <td>{{ season.age_minutes_proportion|floatformat:"3" }}</td>

    <td>{{ season.game_set.count }}</td>
    <td>{{ season.goals.count }}</td>
    <td>{{ season.stat_set.count }}</td>
    {% endcomment %}

  </tr>
  {% endfor %}
    
</table>
{% endif %}


{% if top_attendance_games %}
<h3>Best attendances</h3>
{% include "templatetags/games/attendance.html" with games=top_attendance_games %}
{% endif %}

{% if worst_attendance_games %}
<h3>Worst attendances</h3>
{% include "templatetags/games/attendance.html" with games=worst_attendance_games %}
{% endif %}

</div>

<div id="right_column">



{% if competition.alltime_standings.exists %}
{% include "templatetags/standings/slim.html" with standings=big_winners %}
{% endif %}

{% comment %}
{% if games %}
{% include "templatetags/games.html" %}
{% endif %}
{% endcomment %}



{% if competition.award_set.exists %}
<h3>Awards</h3>
<table>
{% for award in competition.award_set.all %}
<tr>
  <td><a href="{% url award_detail award.id %}">{{ award.name }}</a></td>
</tr>
{% endfor %}
</table>
{% endif %}



{% if stats %}
{% include "templatetags/career_bio.html" %}
<a href="{% url competition_stats competition.slug %}">All-time {{ competition.name }} stats</a>
{% endif %}


</div>

{% endblock %}
