{% extends "base.html" %}
{% load datum_or_none %}
{% load standings %}
{% load seasons %}
{% load stats %}
{% load games %}

{% block title %}{{ competition.name }} Soccer History {% endblock %}
{% block metadescription %}Standings, results, player statistics, and awards for the {{ competition.name }}{% endblock %}

{% block content %}

<div id="competition_block">

  <h3>{{ competition }}</h3>

</div>

<div id="tab_block">
<ul id="tabs"></ul>
</div>


<div id="tab_wrapper">


<div tab="seasons">
{% seasons_table competition.season_set.reverse %}
</div>

<div tab="stats">
{% stats_table stats 'team,season'%}
</div>


<div tab="standings">
{% standings_table big_winners 'competition,season' %}
</div>

<div tab="games">
{% games_table games 'competition,referee,attendance' %}
</div>

</div>


{% endblock %}
