{% extends "base.html" %}
{% load games %}
{% load humanize %}

{% block title %}{{ competition.name }} games{% endblock %}
{% block metadescription %}Every {{ competition.name }} game in the database{% endblock %}

{% block content %}


<h3><a href="{% url 'competition_detail' competition.slug %}">{{ competition }}</a> games</h3>

{% include "pagination.html" with noun="games" %}

{% if games %}
{% games_table games %}
{% endif %}

{% include "pagination.html" with noun="games" %}


{% endblock %}
