Django==1.4.0
PyYAML==3.09
pymongo>=2
South==0.7.2
feedparser==4.1
simplejson==2.0.9
gunicorn==0.12.0
psycopg2
Celery
python-memcached
django-debug-toolbar
django-tastypie
django-haystack==1.2.7
Whoosh
pysolr

-e git://github.com/django-extensions/django-extensions.git#egg=django-extensions
-e git://github.com/saschwarz/minidetector.git#egg=Package

