{% extends "base.html" %}

{% block content %}

  <h2>{{ team.name }}</h2>

{% comment %}
  <h4>est. {{ team.founded }}</h4>
  <h4>Logo</h4>
  <h4>Current coach</h4>
  <h4>Stadium</h4>
  <h4>Owner</h4>
  <h4>Website</h4>
{% endcomment %}


<table>
  <tr>
    <th>competition</th>
    <th>season</th>
    <th>games</th>
    <th>wins</th>
    <th>ties</th>
    <th>losses</th>
    <th>points</th>
    <th>win %</th>
    <th>goals for</th>
    <th>goals against</th>
  </tr>

  {% for standing in team.standings_by_date %}
  <tr>
    <td><a href="{% url competition_detail standing.competition.slug %}">{{ standing.competition.abbreviation }}</a></td>
    {% if standing.season %}
    <td><a href="{% url team_season_detail team.slug standing.season.slug %}">{{ standing.season.name }}</a></td>
    {% else %}
    <td></td>
    {% endif %}
    <td>{{ standing.games }}</td>
    <td>{{ standing.wins }}</td>
    <td>{{ standing.ties|default_if_none:'' }}</td>
    <td>{{ standing.losses }}</td>
    <td>{{ standing.points|default_if_none:'' }}</td>
    <td>{{ standing.win_percentage|floatformat:3 }}</td>
    <td>{{ standing.goals_for|default_if_none:'' }}</td>
    <td>{{ standing.goals_against|default_if_none:'' }}</td>
  </tr>

  {% endfor %}

  <tr>
    <td>All-time</td>
    <td></td>
    <td>{{ team.alltime_standing.games }}</td>
    <td>{{ team.alltime_standing.wins }}</td>
    <td>{{ team.alltime_standing.ties|default_if_none:'' }}</td>
    <td>{{ team.alltime_standing.losses }}</td>
    <td>
    <td>{{ team.alltime_standing.win_percentage|floatformat:3 }}</td>
    <td>{{ team.alltime_standing.goals_for|default_if_none:'' }}</td>
    <td>{{ team.alltime_standing.goals_against|default_if_none:'' }}</td>

</table>

{% if stats %}

<h3>stats</h3>
<table>
  <tr>
    <th>player</th>
    <th>gp</th>
    <th>gs</th>
    <th>min</th>
    <th>goals</th>
    <th>assists</th>
    <th>shots</th>
  </tr>

  {% for stat in stats %}
  <tr>
    <td><a href="{% url person_detail stat.player.slug %}">{{ stat.player }}</a></td>
    <td>{{ stat.games_played }}</td>
    <td>{{ stat.games_started }}</td>
    <td>{{ stat.minutes }}</td>
    <td>{{ stat.goals }}</td>
    <td>{{ stat.assists }}</td>
    <td>{{ stat.shots }}</td>

  </tr>
  {% endfor %}
</table>

{% endif %}


{% if team.game_set.count %}

<h3>games</h3>
<table>
  <tr>
    <th>competition</th>
    <th>date</th>
    <th>home team</th>
    <th>score</th>
    <th>away team</th>
  <tr>

  {% for game in team.game_set.all %}
  <tr>
    <td>{{ game.competition }}</td>
    <td>{{ game.date }}</td>
    <td><a href="{% url team_detail game.home_team.slug %}">{{ game.home_team }}</a></td>
    <td><a href="{% url game_detail game.id %}">{{ game.score }}</a></td>
    <td><a href="{% url team_detail game.away_team.slug %}">{{ game.away_team }}</a></td>
  </tr>
  {% endfor %}
</table>

{% endif %}



{% endblock %}
