{% extends "base.html" %}


{% block content %}

<h2 class="headline">Teams</h2>

<ul>
  {% for letter, standings in name_dict.items %}
  {% if standings.exists %}
  <li>
    <a class="letter_link" href="{% url team_name_fragment letter %}">{{ letter }}: </a>
    {% for standing in standings %}
    <a href="{% url team_detail standing.team.slug %}">{{ standing.team }}</a>{% if forloop.last %}...{% else %},{% endif %}

    {% endfor %}
  </li>
  {% endif %}
  {% endfor %}
</ul>





{% endblock %}
