{% extends "base.html" %}

{% block content %}

<h2><a href="{% url team_detail team.slug %}">{{ team.name }}</a></h2>
<h2><a href="{% url competition_detail season.competition.slug %}">{{ season.competition }}</a></h2>
<h2><a href="{% url season_detail season.competition.slug season.slug %}">{{ season.name }}</a></h2>

{% if standings %}
<h3>Standings</h3>
{% include "templatetags/standings.html" %}
{% endif %}

{% if stats %}
<h3>Stats</h3>
<table>
  {% include "templatetags/bio_header.html" %}
  {% for stat in stats %}
  {% include "templatetags/bio.html" %}
  {% endfor %}
</table>
{% endif %}

{% if games.exists %}
<h3>Games</h3>
<table>
  <tr>
    <th>competition</th>
    <th>date</th>
    <th>home team</th>
    <th>score</th>
    <th>away team</th>
    <th>attendance</th>
  <tr>

  {% for game in games %}
  <tr>
    <td><a href="{% url competition_detail game.competition.slug %}">{{ game.competition.abbreviation }}</a></td>
    <td><a href="{% url month_detail game.date.year game.date.month %}">{{ game.date }}</a></td>
    <td><a href="{% url team_detail game.home_team.slug %}">{{ game.home_team }}</a></td>
    <td><a href="{% url game_detail game.id %}">{{ game.score }}</a></td>
    <td><a href="{% url team_detail game.away_team.slug %}">{{ game.away_team }}</a></td>
    <td>{{ game.attendance }}</td>
  </tr>
  {% endfor %}
</table>

{% endif %}



{% endblock %}
