{% extends "base.html" %}
{% load datum_or_none %}

{% block title %}{{ team.name }} Results, Lineups, & Statistics{% endblock %}
{% block metadescription %}{{ team.name }} soccer stats with results, lineups, awards, all-time stats, managers...{% endblock %}

{% block extrahead %}


{% endblock %}


{% block content %}

<h2>{{ team.name }}</h2>


<ul id="tabs"></ul>

<div id="tab_wrapper">


{% if games.exists %}
<div tab="games">
{% include "templatetags/games.html" %}
</div>
{% endif %}


</div>

{% endblock %}

