{% extends "base.html" %}

{% load result_chart %}


{% load stats %}
{% load games %}
{% load standings %}

{% block title %}{{ team.name }} {{ year }}{% endblock %}

{% block content %}

<h1><a href="{% url 'team_detail' team.slug %}">{{ team.name }}</a> &mdash; {{ year }}</h1>

<ul id="tabs"></ul>

<div id="tab_wrapper">


<div tab="summary">
{% if standings %}
<h3>Standings</h3>
{% standings_table standings %}
{% endif %}

{% comment %}
{% team_result_data team games %}
{% endcomment %}

</div>

{% if games.exists %}
<div tab="games">
<h3>{{ year }} games</h3>
{% games_table games %}
</div>
{% endif %}

{% if stats %}
<div tab="stats">
<h3>{{ year }} player statistics</h3>
{% stats_table stats 'team,season' %}
</div>
{% endif %}

{% comment %}
<div tab="chart">
{% include "templatetags/player_chart.html" %}
</div>
{% endcomment %}

</div>

{% endblock %}
