{% extends "base.html" %}

{% load result_chart %}

{% block content %}

<h2><a href="{% url team_detail team.slug %}">{{ team.name }}</a></h2>

<ul id="tabs"></ul>

<div id="tab_wrapper">


<div tab="summary">
{% if standings %}
{% include "templatetags/standings.html" %}
{% endif %}

{% comment %}
{% team_result_data team games %}
{% endcomment %}

</div>

<div tab="games">

{% if games.exists %}
{% include "templatetags/games.html" %}
{% endif %}

</div>

{% if stats %}
<div tab="stats">
{% include "templatetags/bio.html" %}
</div>
{% endif %}

<div tab="chart">
{% include "templatetags/player_chart.html" %}
</div>

</div>

{% endblock %}
