{% extends "base.html" %}

{% block title %}{{ award }}{% endblock %}

{% block content %}

<h3>{{ award }}</h3>

<table>
  <tr>
    <th>Season</th>
    <th>Recipient</th>
  </tr>
  
  {% for item in award.awarditem_set.all %}
  <tr>

  {% if award.season %}
  <td><a href="{% url season_detail award.season.competition.slug award.season.slug %}">{{ award.season }}</a></td>
  {% else %}
  <td></td>
  {% endif %}

    <td><a href="{{ item.recipient.get_absolute_url }}">{{ item.recipient }}</a></td>
  </tr>
  {% endfor %}
  
</table>

{% endblock %}
