{% extends "base.html" %}
{% load datum_or_none %}
{% load url from future %}

{% block title %}{{ award }}{% endblock %}

{% block content %}

{% if award.competition %}
<h3><a href="{% url 'competition_detail' award.competition.slug %}">{{ award.competition }}</a> | {{ award.name }}</h3>
{% endif %}

<table id="award_detail">

  {% if has_competition %}


  {% for item in awarditems %}
  <tr>

  {% if item.season %}
  <td><a href="{% url 'season_detail' item.season.competition.slug item.season.slug %}">{{ item.season.name }}</a></td>
  {% else %}
  <td></td>
  {% endif %}

    <td><a href="{{ item.recipient.get_absolute_url }}">{{ item.recipient }}</a></td>
  </tr>
  {% endfor %}
  
  {% else %}

  <tr>
    <th>Recipient</th>
    <th>gp</th>
    <th>goals</th>
    <th>age</th>
    <th>birthplace</th>
  </tr>


  {% for recipient in recipients %}
  {% with cs=recipient.career_stat %}
  <tr>
    <td><a href="{{ recipient.get_absolute_url }}">{{ recipient }}</a></td>
    {% datum_or_grey cs.games_played %}
    {% datum_or_grey cs.goals %}

    {% if recipient.age_years %}
    <td>{{ recipient.age_years|floatformat }}</td>
    {% else %}
    <td class="grey"></td>
    {% endif %}

    {% if recipient.birthplace %}
    <td><a href="{% url 'city_detail' recipient.birthplace.slug %}">{{ recipient.birthplace }}</a></td>
    {% else %}
    <td class="grey"></td>
    {% endif %}


  </tr>
  {% endwith %}
  {% endfor %}

  {% endif %}


  
</table>

{% endblock %}
