{% extends "base.html" %}
{% load url from future %}

{% block title %}awards{% endblock %}

{% block content %}


{% regroup awards by competition as ac %}

<div id="awards_index">
{% for competition in ac %}
    <div class="cmp"><a href="{% url 'competition_detail' competition.grouper.slug %}">{{ competition.grouper }}</a></div>
    <ul>
        {% for item in competition.list %}
          <li><a href="{% url 'award_detail' item.id %}">{{ item.name }}</a></li>
        {% endfor %}
    </ul>
    </li>

{% endfor %}
</div>



{% endblock %}
