{% extends "base.html" %}

{% block content %}


<table>
  <thead>
    <tr>
      <th>competition</th>
      <th>award</th>
      <th>type</th>
    </tr>
  </thead>

{% for award in awards %}
  <tr>
    {% if award.competition %}
    <td><a href="{% url competition_detail award.competition.slug %}">{{ award.competition }}</a></td>
    {% else %}
    <td class="grey"></td>
    {% endif %}

    <td><a href="{% url award_detail award.id %}">{{ award.name }}</a></td>
    <td>{{ award.type }}</td>
  </tr>
{% endfor %}
</table>




{% comment %}
{% regroup awards by competition as ac %}

<ul>
{% for ax in ac %}

{% if ax.grouper.slug %}
<li><a href="#{{ ax.grouper.slug }}">{{ ax.grouper }}</a></li>
{% else %}
<li><a href="#no-competition">No Competition</a></li>
{% endif %}

{% endfor %}
</ul>

{% for ax in ac %}

{% if ax.grouper.slug %}
<h3 id="{{ ax.grouper.slug }}"><a href="{% url competition_detail ax.grouper.slug %}">{{ ax.grouper }}</a></h3>
{% else %}
<h3 id="no-competition">No Competition</h3>
{% endif %}

<ul>
{% for item in ax.list %}
<li><a href="{% url award_detail item.id %}">{{ item.name }}</a></li>
{% endfor %}
</ul>

{% endfor %}
{% endcomment %}

{% endblock %}
