
<div id="bio_image">

{% if bio.images.all %}
<img height="180" src="{{ bio.images.all.0.path }}">
{% endif %}

</div>


<div id="bio_data">

<h3>{{ bio.name }}</h3>


{% if bio.height or bio.weight %}
<div>{% if bio.height %}{{ bio.height }}cm{% endif %}</div>
<div>{% if bio.weight %}{{ bio.weight }}kg{% endif %}</div>
{% endif %}


{% if bio.birthdate or bio.birthplace %}
<div>
  born on
  {% if bio.birthdate %}<div><a href="{% url date_detail bio.birthdate.year bio.birthdate.month bio.birthdate.day %}">{{ bio.birthdate }}</a></div>{% endif %}
  {% if bio.birthplace %}<div>in <a href="{% url city_detail bio.birthplace.slug %}">{{ bio.birthplace }}</a></div>{% endif %}
</div>
{% endif %}

{% if bio.last_game and bio.last_game != bio.first_game %}
<div>first game: <a href="{% url game_detail bio.first_game.id %}">{{ bio.first_game.date }}</a></div>
{% endif %}

{% if bio.last_game and bio.last_game != bio.first_game %}
<div>last game: <a href="{% url game_detail bio.last_game.id %}">{{ bio.last_game.date }}</a></div>
{% endif %}

</div>

