{% extends "base.html" %}
{% block title %}about{% endblock %}

{% block content %}

<div id="about">
  <!--<img width="395" src="/static/images/true_blues.jpg" />-->
  <!--<img width="395" src="/static/images/field.jpg" />-->
  <a href="{% url 'team_detail' 'fall-river-rovers' %}"><img width="600" src="/static/images/rovers.jpg" /></a>

  <p>the past is the future</p>
  <p>
    <a href="{% url 'contact_index' %}">contact</a>
    -
    <a href="http://github.com/chirs/s2">github</a>
  </p>
</div>

{% endblock %}
