{% load datum_or_none %}

<table>
{% for pick in picks %}
<tr>

  <td>{{ pick.number }}</td>
  {% if pick.player %}
  <td><a href="{% url 'person_detail' pick.player.slug %}">{{ pick.player }}</a></td>
  {% else %}
  <td>PASS</td>
  {% endif %}
  {% datum_or_grey pick.position %}

  <td><a href="{% url 'team_detail' pick.team.slug %}">{{ pick.team }}</a></td>
  <td><a href="{% url 'draft_detail' pick.draft.competition.slug pick.draft.slug pick.draft.season.slug %}">{{ pick.draft.name }}</a></td>
  <td><a href="{% url 'season_detail' pick.draft.competition.slug pick.draft.season.slug %}">{{ pick.draft.season }}</a></td>
  {% if pick.former_team %}
  <td><a href="{% url 'team_detail' pick.former_team.slug %}">{{ pick.former_team }}</a></td>
  {% else %}
  <td></td>
  {% endif %}

</tr>
{% endfor %}
</table>
