{% load datum_or_none %}

<table>
  <thead>
  <tr>
    <th></th>
    <th>Minute</th>
    <th>Competition</th>
    <th>Date</th>
    <th>Team</th>
    <th>Opponent</th>
    <th>Score</th>
  </tr>
  </thead>

  <tbody>
  {% for goal in goals %}
  <tr>
    {% if goal.player %}
    <td><a href="{% url person_detail goal.player.slug %}">{{ goal.player }}</a></td>
    {% else %}
    {% if goal.own_goal_player %}
    <td>own goal: <a href="{% url person_detail goal.own_goal_player.slug %}">{{ goal.own_goal_player }}</a></td>
    {% else %}
    {% if goal.own_goal %}
    <td>own goal</td>
    {% else %}
    <td></td>
    {% endif %}
    {% endif %}
    {% endif %}

    {% datum_or_grey goal.minute %}

    <td><a href="{% url competition_detail goal.game.competition.slug %}">{{ goal.game.competition.abbreviation }}</a></td>
    <td><a href="{% url date_detail goal.game.date.year goal.game.date.month goal.game.date.day %}">{{ goal.game.date }}</a></td>

    <td><a href="{% url team_detail goal.team.slug %}">{{ goal.team }}</a></td>
    <td><a href="{% url team_detail goal.opponent.slug %}">{{ goal.opponent }}</a></td>
    <td class="{{ goal.result }}"><a href="{% url game_detail goal.game.id %}">{{ goal.game.score }}</a></td>
  {% endfor %}
  </tbody>
</table>
