{% extends "base.html" %}
{% load datum_or_none %}

{% block title %}{{ competition.name }}{% endblock %} Results, Lineups, & Statistics{% endblock %}
{% block metadescription %}{{ competition.name }} statistics and records{% endblock %}

{% block content %}



<h3>{{ team.name }}</h3>
<div><a href="{% url competition_detail competition.slug %}">{{ competition }}</a></div>


<ul id="tabs"></ul>

<div id="tab_wrapper">


{% if games %}
<div tab="games">
{% include "templatetags/games/attendance.html"%}
</div>
{% endif %}


<div tab="calendar">
<div id="calendar"></div>
</div>

<script>
calendarChart("#calendar", {{ calendar_data|safe }})
</script>



</div>

<div class="clear_both"></div>

{% endblock %}

