{% extends "base.html" %}
{% load datum_or_none %}

{% block title %}{{ competition.name }} Soccer History {% endblock %}
{% block metadescription %}{{ competition.name }} soccer stats with standings, results, lineups, awards, all-time stats...{% endblock %}

{% block content %}


<h3><a href="{% url competition_detail competition.slug %}">{{ competition }}</a></h4>
<h4>Level {{ competition.level }}, {{ competition.area }}</h4> 



<ul id="tabs"></ul>

<div id="tab_wrapper">


{% if competition.season_set.exists %}
<div tab="seasons">
<table>
  <tr>
    <th>competition</th>
    <th>season</th>
    <th>champion</th>
    <th>MVP</th>
    <th>Golden Boot</th>
    <th>Average age</th>
    <th>Ages known %</th>
    
    {% comment %}
    <th>games</th>
    <th>goals</th>
    <th>stats</th>
    {% endcomment %}
  </tr>


  {% for season in competition.season_set.all %}
  <tr>
    <td>{{ competition }}</td>
    <td><a href="{% url season_detail competition.slug season.slug %}">{{ season.name }}</a></td>
    <td><a href="{{ season.champion.recipient.get_absolute_url }}">{{ season.champion.recipient }}</a></td>

    {% with season.mvp.recipient as mvp %}
    {% if mvp %}
    <td><a href="{% url person_detail mvp.slug %}">{{ mvp }}</a></td>
    {% else %}
    <td></td>
    {% endif %}
    {% endwith %}

    {% if season.golden_boot %}
    <td><a href="{% url person_detail season.golden_boot.slug %}">{{ season.golden_boot }}</a></td>
    {% else %}
    <td></td>
    {% endif %}

    <td>{{ season.average_age|floatformat }}</td>
    <td>{{ season.age_minutes_proportion|floatformat:"3" }}</td>

    {% comment %}
    <td>{{ season.game_set.count }}</td>
    <td>{{ season.goals.count }}</td>
    <td>{{ season.stat_set.count }}</td>
    {% endcomment %}

  </tr>
  {% endfor %}
    
</table>

{% if top_attendance_games %}
<h3>Top attendances</h3>
{% include "templatetags/top_attendance.html" with games=top_attendance_games %}
{% endif %}

{% if worst_attendance_games %}
<h3>Bottom attendances</h3>
{% include "templatetags/top_attendance.html" with games=worst_attendance_games %}
{% endif %}
</div>
{% endif %}



{% if competition.alltime_standings.exists %}
<div tab="standings">
{% include "templatetags/slim_standings.html" with standings=big_winners %}
</div>
{% endif %}


{% if games %}
<div tab="games">
{% include "templatetags/games.html" %}
</div>
{% endif %}


{% if stats %}
<div tab="stats" >
{% include "templatetags/career_bio.html" %}
</div>
{% endif %}

{% if competition.award_set.exists %}
<div tab="awards">
<table>
{% for award in competition.award_set.all %}
<tr>
  <td><a href="{% url award_detail award.id %}">{{ award }}</a></td>
</tr>
{% endfor %}
</table>
</div>
{% endif %}



<div tab="graphs">



{% include "templatetags/nationality.html" with nstat=competition.confederation_stats %}

{% include "templatetags/nationality.html" with nstat=competition.nationality_stats %}

</div>

</div>

{% endblock %}
