{% extends "base.html" %}
{% load datum_or_none %}

{% block title %}{{ competition.name }} - {% endblock %}

{% block content %}


<h3><a href="{% url competition_detail competition.slug %}">{{ competition }}</a></h3>

<table>
{% for award in competition.award_set.all %}
<tr>
  <td><a href="{% url award_detail award.id %}">{{ award }}</a></td>
</tr>
{% endfor %}
</table>


<table>
  <tr>
    <th>competition</th>
    <th>season</th>
    <th>champion</th>
  </tr>

  {% for season in competition.season_set.all %}
  <tr>
    <td>{{ competition }}</td>
    <td><a href="{% url season_detail competition.slug season.slug %}">{{ season.name }}</a></td>
    <td><a href="{{ season.champion.recipient.get_absolute_url }}">{{ season.champion.recipient }}</a></td>
    <td>{{ season.mvp.recipient.name }}</td>
    </tr>
  {% endfor %}
    
</table>

{% if competition.alltime_standings.exists %}
<h4>All-time standings</h4>
{% include "templatetags/standings.html" with standings=competition.alltime_standings %}
{% endif %}

{% if stats %}
<h4>All-time stats</h4>
{% include "templatetags/bio.html" %}
{% endif %}

{% endblock %}
