{% extends "base.html" %}

{% block content %}

<table id="competition_index">
  <tr>
    <th>competition</th>
    <th>seasons</th>
    <th>began</th>
    <th>last</th>
    <th>seasons</th>
    <th>gms</th>
    <th>gls</th>
    <th>lnps</th>
  </tr>

  {% for competition in competitions %}
  <tr>
    <td><a href="{% url competition_detail competition.slug %}">{{ competition.name }}</a></td>
    <td>{{ competition.season_set.count }}</td>
    {% if competition.first_season %}
    <td><a href="{% url season_detail competition.slug competition.first_season.slug %}">{{ competition.first_season.name }}</td>
    {% else %}
    <td></td>
    {% endif %}

    {% if competition.last_season %}
    <td><a href="{% url season_detail competition.slug competition.last_season.slug %}">{{ competition.last_season.name }}</td>
    {% else %}
    <td></td>
    {% endif %}

    <td>
      <select>
      {% for season in competition.season_set.all %}
      <option ref="{% url season_detail competition.slug season.slug %}">{{ season.name }}</option>
      {% endfor %}
      </select>
    </td>
    <td>{{ competition.game_set.count }}</td>
    <td>{{ competition.goal_set.count }}</td>
    <td>{{ competition.appearance_set.count }}</td>
  </tr>
  {% endfor %}

</table>
  
{% endblock %}
