{% extends "base.html" %}

{% block content %}



{% if season.previous_season %}<a href="{% url season_detail season.competition.slug season.previous_season.slug %}">p</a>{% endif %}
<h3>{{ season }}</h3>
{% if season.next_season %}<a href="{% url season_detail season.competition.slug season.next_season.slug %}">n</a>{% endif %}

{% if awards %}

<h2>Awards</h3>

{% endif %}


{% if season.standing_set.exists %}

<table>
  <tr>
    <th>team</th>
    <th>games</th>
    <th>wins</th>

    {% if season.first_standing.ties %}
    <th>ties</th>
    {% endif %}

    <th>losses</th>

    {% if season.first_standing.points %}
    <th>points</th>
    {% else %}
    <th>%</th>
    {% endif %}
    
    {% if season.first_standing.goals_for %}
    <th>goals for</th>
    <th>goals against</th>
    {% endif %}
  </tr>

  {% for standing in season.standing_set.all %}
  <tr>

    <td><a href="{% url team_season_detail standing.team.slug standing.season.slug %}">{{ standing.team }}</a></td>
    <td>{{ standing.games }}</td>
    <td>{{ standing.wins }}</td>

    {% if season.first_standing.ties %}
    <td>{{ standing.ties|default_if_none:'' }}</td>
    {% endif %}

    <td>{{ standing.losses }}</td>

    {% if season.first_standing.points %}
    <td>{{ standing.points }}</td>
    {% else %}
    <td>{{ standing.win_percentage_100|floatformat }}</td>
    {% endif %}

    {% if season.first_standing.goals_for %}
    <td>{{ standing.goals_for }}</td>
    <td>{{ standing.goals_against }}</td>
    {% endif %}

  </tr>
  {% endfor %}
</table>

{% endif %}


{% if stats %}

<table>
  <tr>
    <th>player</th>
    <th>team</th>
    <th>gp</th>
    <th>gs</th>
    <th>min</th>
    <th>goals</th>
    <th>assists</th>
    <th>shots</th>
  </tr>


  {% for stat in stats %}
  <tr>
    <td><a href="{% url person_detail stat.player.slug %}">{{ stat.player }}</a></td>
    <td><a href="{% url team_detail stat.team.slug %}">{{ stat.team }}</a></td>
    <td>{{ stat.games_played }}</td>
    <td>{{ stat.games_started }}</td>
    <td>{{ stat.minutes }}</td>
    <td>{{ stat.goals }}</td>
    <td>{{ stat.assists }}</td>
    <td>{{ stat.shots }}</td>
  </tr>
  {% endfor %}

</table>

{% endif %}


{% if season.game_set.count %}

<table>
  <tr>
    <th>date</th>
    <th>home team</th>
    <th>score</th>
    <th>away team</th>
    <th>location</th>
  </tr>


  {% for game in season.game_set.all %}
  <tr>
    <td>{{ game.date }}</td>
    <td><a href="{% url team_detail game.home_team.slug %}">{{ game.home_team }}</a></td>
    <td><a href="{% url game_detail game.id %}">{{ game.score }}</a></td>
    <td><a href="{% url team_detail game.away_team.slug %}">{{ game.away_team }}</a></td>
    <td>{{ game.location }}</td>
  </tr>
  {% endfor %}
</table>

{% endif %}


<h3>Added</h3>
<table>
{% for stat in testing %}
<tr>
  <td><a href="{% url person_detail stat.player.slug %}">{{ stat.player }}</a></td>
  <td>{{ stat.games_played }}</td>
</tr>
{% endfor %}
</table>




{% endblock %}
