{% extends "base.html" %}

{% block title %}{{ season.competition.name }} {{ season.name }} Season Summary {% endblock %}
{% block metadescription %}{{ season.competition.name }} soccer stats with standings, results, lineups, goals, awards...{% endblock %}


{% block content %}

<h3>
{% if season.previous_season %}<a href="{% url season_detail season.competition.slug season.previous_season.slug %}"><-</a>{% endif %}
{{ season }}
{% if season.next_season %}<a href="{% url season_detail season.competition.slug season.next_season.slug %}">-></a>{% endif %}
</h3>

<ul id="tabs"></ul>

<div id="tab_wrapper">


{% if season.standing_set.exists %}
<div tab="standings">
{% include "templatetags/standings.html" with standings=season.standing_set.all %}
</div>
{% endif %}

{% if stats %}
<div tab="stats">
</div>
{% endif %}


{% if season.awarditem_set.exists %}
<div tab="awards">
<table>
  <tr>
    <th>Award</th>
    <th>Winner</th>
  </tr>

  {% for a in season.awarditem_set.all %}
  <tr>
    <td><a href="{% url award_detail a.award.id %}">{{ a.award.name }}</a></td>
    <td><a href="{{ a.recipient.get_absolute_url }}">{{ a.recipient }}</a></td>
  </tr>
  {% endfor %}
</table>
</div>
{% endif %}


{% if season.game_set.exists %}
<div tab="games">
</div>
{% endif %}

{% comment %}
{% if testing %}
<div tab="added">
<table>
{% for stat in testing %}
<tr>
  <td><a href="{% url person_detail stat.player.slug %}">{{ stat.player }}</a></td>
</tr>
{% endfor %}
</table>
</div>
{% endif %}
{% endcomment %}

</div>
{% endblock %}
