{% extends "base.html" %}
{% block title %}{{ state }}{% endblock %}

{% load datum_or_none %}

{% block content %}

<h3>{{ state }}</h3>
<h4>Joined: {{ state.joined }}</h4>
<h4>Abbreviation {{ state.abbreviation }}</h4>
{% if state.country %}
<h4>Country: <a href="{% url country_detail state.country.slug %}">{{ state.country }}</a></h4>
{% endif %}

<ul id="tabs"></ul>

<div id="tab_wrapper">


<table>
{% for pop in state.population_set %}
<tr>
  <td>{{ pop.year }}</td>
  <td>{{ pop.population }}</td>
</tr>
{% endfor %}
</table>

<div tab="stadiums">
<table>
{% for stadium in stadiums %}
<tr>
  <td><a href="{% url stadium_detail stadium.slug %}">{{ stadium }}</a></td>
  {% datum_or_grey stadium.opened %}
  {% datum_or_grey stadium.capacity %}
  {% datum_or_grey stadium.cost %}
</tr>
{% endfor %}
</table>
</div>

{% if games %}
<div tab="games">
{% include "templatetags/games.html" %}
</div>
{% endif %}


<div tab="births">
<table>
  <thead>
    <tr>
      <th>name</th>
      <th>birthdate</th>
      <th>birthplace</th>
    </tr>
  </thead>

{% for bio in births %}
<tr>
  <td><a href="{% url person_detail bio.slug %}">{{ bio }}</a></td>
  <td><a href="{% url city_detail bio.birthplace.slug %}">{{ bio.birthplace }}</a></td>
  {% if bio.birthdate %}
  <td><a href="{% url date_detail bio.birthdate.year bio.birthdate.month bio.birthdate.day %}">{{ bio.birthdate }}</a></td>
  {% else %}
  <td></td>
  {% endif %}

</tr>
{% endfor %}
</table>

</div>



</div>

{% endblock %}
