{% load datum_or_none %}

<table>
  <tr>
    <th>team</th>
    <th>position</th>
    <th>start</th>
    <th>end</th>

    {% comment %}
    <th>wins</th>
    <th>ties</th>
    <th>losses</th>
    {% endcomment %}
  </tr>

{% for position in positions %}
<tr>
  <td><a href="{% url team_detail position.team.slug %}">{{ position.team }}</a></td>
  <td>{{ position.name }}</td>
  {% datum_or_grey position.start %}
  {% datum_or_grey position.end %}
  
  {% comment %}
  {% datum_or_grey position.wins %}
  {% datum_or_grey position.ties %}
  {% datum_or_grey position.losses %}
  {% with wp=position.win_percentage|floatformat:3 %}
  {% datum_or_grey wp %}
  {% endwith %}
  {% endcomment %}
</tr>
{% endfor %}
</table>
