<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>
  <title>SoccerStats.us</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="Description" content="Historical and modern Soccer Statistics for all American competitions, teams, and players.">

  <style>
    div#down { text-align: center; margin-top: 20%; }
    a, a:visited { color: blue; text-decoration: none; }
  </style>

</head>

<body>
  <div id="down">
    <p>Soccerstats.us is down for maintenance.</p>
    <p><a href="mailto:chris@soccerstats.us">contact</a>
  </div>

</body>

