{% extends "base.html" %}



{% block content %}

<p>These are basic search tools for navigating the data on this site. I expect to add more over time.</p>

<p>If there is a particular search feature you would like implemented, please <a href="/contact">contact me</a> and I'll try to implement it.</p>

<p><a href="{% url goal_search %}">Goal Search</a></p>
<p><a href="{% url stat_search %}">Stat Search</a></p>
<p><a href="{% url game_search %}">Game Search</a></p>
<p><a href="{% url lineup_search %}">Lineup Search</a></p>

{% endblock %}
