{% extends "base.html" %}
{% load datum_or_none %}

{% block title %}{{ competition.name }} Soccer History {% endblock %}
{% block metadescription %}{{ competition.name }} soccer stats with standings, results, lineups, awards, all-time stats...{% endblock %}

{% block extrahead %}
<style>
#attendance-chart {
position: fixed;
margin-left: 5%;
padding-top: 5%;

}
</style>
{% endblock %}

{% block content %}

<h3>
{% if season.previous_season %}<a href="{% url 'season_attendance' season.competition.slug season.previous_season.slug %}">←</a>{% endif %}
<a href="{% url 'season_detail' season.competition.slug season.slug %}">{{ season }}</a>
{% if season.next_season %}<a href="{% url 'season_attendance' season.competition.slug season.next_season.slug %}">→</a>{% endif %}
</h3>


<table>

<!--summary-->

<tr>
  <th>games</th>
  <th>known</th>
  <th>total</th>
  <th>average</th>
</tr>

<tr>
  <td>{{ season.max_games }}</td>
  <td>{{ season.attendance_games|floatformat:3 }}</td>
  <td>{{ season.total_attendance }}</td>
  <td>{{ season.average_attendance }}</td>
</tr>

</table>



<table>

<tr>
  <th>team</th>
  <th>average</th>
  <th>games</th>
  <th>total</th>

</tr>

{% for team in team_data %}
<tr>
  <td>{{ team.0 }}</td>
  <td>{{ team.3 }}</td>
  <td>{{ team.2 }}</td>
  <td>{{ team.1 }}</td>
</tr>

{% endfor %}
</table>


{% endblock %}
