{% extends "base.html" %}


{% block content %}


<a href="{% url season_date_detail season.competition.slug season.slug previous_date.year previous_date.month previous_date.day %}">-</a>
<a href="{% url date_detail date.year date.month date.day %}">{{ date }}</a>
<a href="{% url season_date_detail season.competition.slug season.slug next_date.year next_date.month next_date.day %}">+</a>


<ul id="tabs"></ul>

<div id="tab_wrapper">


<div tab="standings">
{% include "templatetags/standings/compact.html" %}
</div>

{% if games %}
<div tab="games">
{% include "templatetags/games/attendance.html" %}
</div>
{% endif %}


</div>


{% endblock %}
