{% extends "base.html" %}

{% block title %}{{ season.competition.name }} {{ season.name }} Season Summary {% endblock %}
{% block metadescription %}{{ season.competition.name }} soccer stats with standings, results, lineups, goals, awards...{% endblock %}

{% block extrahead %}

<script type="text/javascript">
  $(document).ready(function (){
  });
</script>

{% endblock %}

{% block content %}




  <h3><a href="{% url competition_detail season.competition.slug %}">{{ season.competition.name }}</a> | {{ season.name }}</h3>

<div class="block">
  {% if season.previous_season or seasno.next_season %}
  <div>
    {% if season.previous_season %}<a href="{% url season_detail season.competition.slug season.previous_season.slug %}">←</a>{% endif %}
    {% if season.next_season %}<a href="{% url season_detail season.competition.slug season.next_season.slug %}">→</a>{% endif %}
  </div>
  {% endif %}

  <div>{{ season.competition.area }}</div>
  <div>level {{ season.competition.level }}</div> 

</div>

<div class="block">
  <table>

  {% if season.champion %}
  <tr>
    <td>champion</td>
    <td><a href="{% url team_detail season.champion.recipient.slug %}">{{ season.champion.recipient }}</a></td>
  </tr>
  {% endif %}

  {% if season.mvp %}
  <tr>
    <td>mvp</td>
    <td><a href="{ %url person_detail season.mvp.recipient.slug %}">{{ season.mvp.recipient }}</a></td>
  </tr>
  {% endif %}

  {% if season.golden_boot %}
  <tr>
    <td>golden boot</td>
    <td><a href="{% url person_detail season.golden_boot.slug %}">{{ season.golden_boot }}</a></td>
  </tr>
  {% endif %}
  </table>
</div>

<div class="block">
  <table>

    {% if season.game_set.count %}
    <tr>
      <td>Games</td>
      <td>
        {{ season.game_set.count }}
        {% if season.game_set.exists %}
        <a href="{% url season_games season.competition.slug season.slug %}">(all games)</a>
        {% endif %}
      </td>
    </tr>

    <tr>
      <td>Goals</td>
      <td>{{ season.goals }} ({{ season.goals_per_game|floatformat }} <a href="{% url season_goals season.competition.slug season.slug %}">goals</a>/game)</td>
    </tr>
    {% endif %}

    {% if season.total_attendance %}
    <tr>
      <td>Average Attendance</td>
      <td>{{ season.average_attendance|floatformat:1 }}</td>
    </tr>

    {% comment %}
    <tr>
      <td></td>
      <td>{{ season.total_attendance }} / {{ season.games_with_attendance }}</td>
    </tr>
    {% endcomment %}
    {% endif %}

  </table>
</div>


<ul id="tabs"></ul>

<div id="tab_wrapper">

<div tab="standings">
{% include "templatetags/standings/compact.html" %}
</div>

{% if awards.exists %}
<div tab="awards">
<table>
  <tr>
    <th>Award</th>
    <th>Winner</th>
  </tr>

  {% for a in awards %}
  <tr>
    <td><a href="{% url award_detail a.award.id %}">{{ a.award.name }}</a></td>
    <td><a href="{{ a.recipient.get_absolute_url }}">{{ a.recipient }}</a></td>
  </tr>
  {% endfor %}
</table>
</div>
{% endif %}

{% if top_attendance_games %}
<div tab="games">

<p>
  <a href="{% url season_games season.competition.slug season.slug %}">all games</a>
</p>

<p>best attendances</p>
{% include "templatetags/games/attendance.html" with games=top_attendance_games %}

{% if worst_attendance_games %}
<p>worst attendances</p>
{% include "templatetags/games/attendance.html" with games=worst_attendance_games %}
{% endif %}

</div>
{% endif %}


{% if goal_leaders or game_leaders %}
<div tab="stats">
<h3><a href="{% url season_stats season.competition.slug season.slug %}">{{ season }} stats</a></h3>

{% if goal_leaders %}
<table>
  <th><td>Goal leaders</td></th>
  {% for stat in goal_leaders %}
  <tr>
    <td>{{ stat.goals }}</td>
    {% if stat.player.slug %}
    <td><a href="{% url person_detail stat.player.slug %}">{{ stat.player }}</a></td>
    {% else %}
    <td>{{ stat.player }}</td>
    {% endif %}
  </tr>
{% endfor %}
</table>
{% endif %}

{% comment %}
{{ game_leaders }}
{% endcomment %}

{% endif %}


</div>

{% endblock %}
