{% extends "base.html" %}
{% load datum_or_none %}

{% block title %}{{ competition.name }} Soccer History {% endblock %}
{% block metadescription %}{{ competition.name }} soccer stats with standings, results, lineups, awards, all-time stats...{% endblock %}

{% block content %}

<h3>
{% if season.previous_season %}<a href="{% url season_games season.competition.slug season.previous_season.slug %}">←</a>{% endif %}
<a href="{% url season_detail season.competition.slug season.slug %}">{{ season }}</a>
{% if season.next_season %}<a href="{% url season_games season.competition.slug season.next_season.slug %}">→</a>{% endif %}
</h3>





{% if games %}
<div tab="games">
{% include "templatetags/games.html" %}
</div>
{% endif %}


{% endblock %}
