{% extends "base.html" %}

{% block content %}

{% if source.base_url %}
<h3><a href="{{ source.base_url }}">{{ source }}</a></h3>
{% else %}
<h3>{{ source }}</h3>
{% endif %}

{% if source.author %}
<h4>Author: {{ source.author }}</h4>
{% endif %}

{% if source.base_url %}
<h4>Base url: {{ source.base_url }}</h4>
{% endif %}

<h4>Games</h4>

<ul>
{% for game in source.game_set.all|slice:"50" %}
<li><a href="{% url game_detail game.id %}">{{ game }}</a></li>
{% endfor %}
</ul>

<h4>Stats: {{ source.stat_set.count }}</h4>


{% endblock %}
