{% extends "base.html" %}
{% load games %}
{% load stats %}

{% block title %}{{ source.name }}{% endblock %}

{% block content %}

{% if source.base_url %}
<h1><a href="{{ source.base_url }}">{{ source }}</a></h1>
{% else %}
<h1>{{ source.name }}</h1>
{% endif %}

{% if source.author %}
<h4>Author: {{ source.author }}</h4>
{% endif %}

{% if source.base_url %}
<h4>Base url: {{ source.base_url }}</h4>
{% endif %}


<div id="tab_block">
<ul id="tabs"></ul>
</div>

<div id="tab_wrapper">


{% if feeds.exists %}
<div tab="news">

<table>
<thead>
  <tr>
    <th scope="col">headline</th>
    <th scope="col">date</th>
  </tr>
</thead>
{% for item in feeds %}
<tr>
  <td><a href="{{ item.url }}">{{ item.title }}</a></td>
  <td><a href="{% url 'date_detail' item.dt.year item.dt.month item.dt.day %}">{{ item.dt }}</a></td>
</tr>
{% endfor %}
</table>

</div>
{% endif %}


{% if stats_count %}
<div tab="stats">

<h3>{{ stats_count }} player-season stat line{{ stats_count|pluralize }} from this source
{% if stats_count > 25 %}&mdash; 25 with the most games below{% endif %}</h3>

{% stats_table top_stats %}

</div>
{% endif %}


{% if games_count %}
<div tab="games">

<h3>{{ games_count }} game{{ games_count|pluralize }} sourced here</h3>

{% games_table games source_urls=True %}

</div>
{% endif %}


{% if source.sourceurl_set.exists %}
<div tab="urls">
<h3>Base url{{ source.sourceurl_set.count|pluralize }}</h3>
<ul class="source-urls">
{% for surl in source.sourceurl_set.all %}
  <li><a href="{{ surl.url }}" rel="nofollow">{{ surl.url }}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}


</div>


{% endblock %}
