{% extends "base.html" %}

{% block title %}sources{% endblock %}

{% block content %}

<h1>Sources</h1>

<table>
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">author</th>
      <th scope="col">games</th>
      <th scope="col">stats</th>
      <th scope="col">news</th>
      </tr>
    </thead>
  
  {% for source in sources %}
  <tr>
    <td><a href="{% url 'source_detail' source.id %}">{{ source|truncatechars:40 }}</a></td>
    <td>{{ source.author }}</td>
    <td>{{ source.games }}</td>
    <td>{{ source.stats }}</td>
    <td>{{ source.news }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
