{% extends "base.html" %}

{% block content %}

<div id="control-bar">
  <div class="white-title">contact</div>
</div>

<div id="contact_box">
  <form class="contact" action="{% url contact_index %}" method="POST">

    <div>
      <input type="text" name="email" id="id_email" />
    </div>

    <div>
      <input type="hidden" name="name" id="id_name" />
    </div>

    <div>
      <textarea id="id_message" name="message"></textarea>
      </div>

    <input type="submit" value="send" />
  </form>
</div>


{% endblock %}
