{% extends "base.html" %}
{% block title %}contact{% endblock %}

{% block content %}

<div id="control-bar">
  <div class="white-title center">contact</div>
</div>

<div id="contact_box">
  <form class="contact" action="{% url contact_index %}" method="POST">

    {# move this into separate box? #}
    {{ form.as_p }}

    {% comment %}
    <div>
      <input type="text" name="email" id="id_email" />
    </div>

    <div>
      <input type="hidden" name="name" id="id_name" />
    </div>

    <div>
      <textarea id="id_message" name="message"></textarea>
      </div>
    {% endcomment %}

    <input type="submit" value="send" />
  </form>
</div>


{% endblock %}
