{% extends "base.html" %}

{% block content %}

{% if game.same_day_games %}
<h4>Scoreboard</h4>
{% include "templatetags/scoreboard.html" with games=game.same_day_games %}
{% endif %}


<div id="game_score">

  
  <h4><a href="{% url date_detail game.date.year game.date.month game.date.day %}">{{ game.date }}</a></h4>
  <h4><a href="{% url competition_detail game.competition.slug %}">{{ game.competition }}</a></h4>
  <h4><a href="{% url season_detail game.competition.slug game.season.slug %}">{{ game.season.name }}</a></h4>


  <div>
    <div><a href="{% url team_detail game.home_team.slug %}">{{ game.home_team  }}</a></div>
    <div>{{ game.home_score }}</div>
    <div><a href="{% url team_detail game.home_team.slug %}">{{ game.home_streak_string  }}</a></div>
    <div><a href="{% url team_detail game.home_team.slug %}">{{ game.home_standings_string  }}</a></div>
  </div>

  <div>
    <div><a href="{% url team_detail game.away_team.slug %}">{{ game.away_team  }}</a></div>
    <div>{{ game.away_score }}</div>
    <div><a href="{% url team_detail game.away_team.slug %}">{{ game.away_streak_string  }}</a></div>
    <div><a href="{% url team_detail game.away_team.slug %}">{{ game.away_standings_string  }}</a></div>
  </div>



</div>






{% if game.goal_set.exists %}

<h3>Goals</h3>

<table>
  <tr>
    <th>Team</th>
    <th>Player</th>
    <th>Minute</th>
    <th>Assists</th>
  </tr>

  {% for goal in game.goal_set.all %}
  <tr>
    <td><a href="{% url team_detail goal.team.slug %}">{{ goal.team }}</a></td>
    <td><a href="{% url person_detail goal.player.slug %}">{{ goal.player }}</a></td>
    <td>{{ goal.minute }}</td>
    <td></td>
  {% endfor %}
</table>

{% endif %}

{% if game.appearance_set.exists %}
<h3>Lineups</h3>

<table>
  <tr>
    <th>Team</th>
    <th>Player</th>
    <th>Minutes</th>
    <th>On</th>
    <th>Off</th>
    <th>+/-</th>
  </tr>

  {% for appearance in game.appearance_set.all %}
  <tr>
    <td><a href="{% url team_detail appearance.team.slug %}">{{ appearance.team }}</a></td>
    <td><a href="{% url person_detail appearance.player.slug %}">{{ appearance.player }}</a></td>
    <td>{{ appearance.minutes }}</td>
    <td>{{ appearance.on }}</td>
    <td>{{ appearance.off }}</td>
    <td>{{ appearance.goal_differential }}</td>
  </tr>
  {% endfor %}
</table>

{% endif %}

{% if game.same_day_games %}
<h4>Series</h4>
{% include "templatetags/games.html" with games=game.series %}
{% endif %}

{% endblock %}



