{% extends "base.html" %}

{% block content %}

<h4>{{ game.date }}</h4>

<div id="game_score">
<span class="team"><a href="{% url team_detail game.home_team.slug %}">{{ game.home_team  }}</a></span>
<span class="score">{{ game.score }}</span>
<span class="team"><a href="{% url team_detail game.away_team.slug %}">{{ game.away_team  }}</a></span>

<h4><a href="{% url competition_detail game.competition.id %}">{{ game.competition }}</a></h4>
<h4><a href="{% url season_detail game.season.id %}"{{ game.season }}</h4>


<H3</H3>

<table>
  <tr>
    <th>Team</th>
    <th>Player</th>
    <th>Minute</th>
    <th>Assists</th>
  </tr>

  {% for goal in game.goal_set.all %}
  <tr>
    <td><a href="{% url team_detail goal.team.slug %}">{{ goal.team }}</a></td>
    <td><a href="{% url person_detail goal.player.slug %}">{{ goal.player }}</a></td>
    <td>{{ goal.minute }}</td>
    <td></td>
  {% endfor %}
</table>

<h3>Lineups</h3>

<table>
  <tr>
    <th>Date</th>
    <th>Team</th>
    <th>Player</th>
    <th>On</th>
    <th>Off</th>
  </tr>

  {% for appearance in game.appearance_set.all %}
  <tr>
    <td>{{ appearance.game.date }}</td>
    <td><a href="{% url team_detail appearance.team.slug %}">{{ appearance.team }}</a></td>
    <td><a href="{% url person_detail appearance.player.slug %}">{{ appearance.player }}</a></td>
    <td>{{ appearance.on }}</td>
    <td>{{ appearance.off }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
