{% extends "base.html" %}

{% block content %}

<h3>About</h3>

<ul>
<li>My goal for this website is to create a comprehensive statistical and informational resource for American soccer dating back to the football game played by the Oneida Soccer Club.</li>
<li>The website is open source. The source code can be found on <a href="http://github.com/chirs/s2">github</a>. I am happy to share any data upon request, and plan to improve data export on the site.</li>
<li>The site is currently in pre-release alpha. Data is not guaranteed to be accurate or complete.</li>
</ul>

<h3>Tour</h3>

<p>Notable league competitions include:</p>
<ul>
  <li><a href="{% url competition_detail 'american-league-of-professional-football' %}">American League of Professional Football</a> of 1894, the first american soccer league, started by baseball owners, did make it through its first season.</li>
  <li><a href="{% url competition_detail 'american-soccer-league' %}">American Soccer League</a> of 1922-1931, a major international league of the time, flourished in Southern New England, New York, and Philadelphia.</li>
  <li><a href="{% url competition_detail 'american-soccer-league-1934-1983' %}">American Soccer League</a> of 1934-1983, a long-lasting semi-pro league, based only on the East Coast until the 1970's.</li>
  <li><a href="{% url competition_detail 'north-american-soccer-league' %}">North American Soccer League</a> of 1968-1984, the home of Pele, featured a host of notable international players, but ultimately failed due to always shaky financials.</li>
  <li><a href="{% url competition_detail 'major-league-soccer' %}">Major League Soccer</a> of 1996 to today, the current American first division.</li>
</ul>

<p>Interesting minor leagues include: <a href="{% url competition_detail 'usl-first-division' %}">USL First division</a>, <a href="{% url competition_detail 'usl-second-division' %}">USL Second Division</a>, <a href="{% url competition_detail 'western-soccer-alliance' %}">Western Soccer Alliance</a>, <a href="{% url competition_detail 'american-professional-soccer-league' %}">American Professional Soccer League</a>, <a href="{% url competition_detail 'st-louis-soccer-league' %}">St. Louis Soccer League</a>, <a href="{% url competition_detail 'national-association-football-league' %}">National Association Football League</a>, and <a href="{% url competition_detail 'major-indoor-soccer-league' %}">Major Indoor Soccer League.</a></p>

<p>Notable cup competitions include:</p>
<ul>
  <li><a href="{% url competition_detail 'lamar-hunt-us-open-cup' %}">Lamar Hunt U.S. Open Cup</a>, the most storied competition in US soccer history. Started in 1914 as the National Challenge Cup as a competitior to the American Cup.</li>
  <li><a href="{% url competition_detail 'american-cup' %}">American Cup</a>, the first "national" American cup competition, started in 1885, only teams from the East coast competed.</li>
  <li><a href="{% url competition_detail 'lewis-cup' %}">Lewis Cup</a>, a league cup competition played itermittently by both incarnations of the American Soccer League.</li>
  <li><a href="{% url competition_detail 'north-american-soccer-league-playoffs' %}">NASL Playoffs</a>, the playoffs for the NASL.</li>
  <li><a href="{% url competition_detail 'mls-cup-playoffs' %}">MLS Cup Playoffs</a>, the playoffs for the MLS.</li>
</ul>



{% endblock %}
