{% extends "base.html" %}

{% block content %}

<h3>About</h3>

<p>The goal of soccerstats.us is to create a free and complete resource for anyone interested in US soccer. </p>
<p>That effort currently focuses on compiling, organizing, and clearly presenting American soccer statistics and data from the very beginnings of the sport in the United States to the present day.</p>
<p>We hope to help people better understand the rich and fascinating history of the most international sport in the context of the world's most international country.</p>

{% endblock %}
