{% extends "base.html" %}

{% block content %}

<p>This site aims to provide comprehensive statistics for all soccer games played in the United States since 1885.<p>

<p>The site can be seen to cover a variety of competitions - league competitions, cup competitions, domestic international competitions, national team competitions, and friendly competitions.</p>


<p>Notable league competitions include:</p>
<ul>
  <li><a href="{% url competition_detail 'american-league-of-professional-football' %}">American League of Professional Football</a> of 1894, the first american soccer league.</li>
  <li><a href="{% url competition_detail 'american-soccer-league' %}">American Soccer League</a> of 1922-1931, a major international league of the time</li>
  <li><a href="{% url competition_detail 'american-soccer-league-1934-1983' %}">American Soccer League</a> of 1934-1983, a much smaller league.</li>
  <li><a href="{% url competition_detail 'north-american-soccer-league' %}">North American Soccer League</a> of 1968-1984, featuring Pele, professional soccer's rebirth in America.</li>
  <li><a href="{% url competition_detail 'major-league-soccer' %}">Major League Soccer</a> of 1996 to today, the current American first division.</li>
</ul>

<p>Also of interest are the <a href="{% url competition_detail 'usl-first-division' %}">USL First division</a>, <a href="{% url competition_detail usl-second-division %}">USL Second Division</a>, <a href="{% url competition_detail western-soccer-alliance %}">Western Soccer Alliance</a>, <a href="{% url competition_detail american-professional-soccer-league %}">American Professional Soccer League</a>, <a href="{% url competition_detail st-louis-soccer-league %}">St. Louis Soccer League</a>, <a href="{% url competition_detail %}"></a><a href="{% url competition_detail national-association-football-league%}">National Association Football League</a>, and <a href="{% url competition_detail major-indoor-soccer-league %}">Major Indoor Soccer League.</a></p>

<p>Notable cup competitions include:</p>
<ul>
  <li><a href="{% competition_detail 'american-cup' %}">American Cup</a>, the first national  American cup competition, started in ?</li>
  <li><a href="{% competition_detail 'lamar-hunt-us-open-cup' %}">Lamar Hunt U.S. Open Cup</a>, the current national cup competition, started in ? as a competitor to the American Cup.</li>
  <li><a href="{% competition_detail 'lewis-cup' %}">Lewis Cup</a>, a league cup competition played itermittently by both incarnations of the American Soccer League.</li>
  <li><a href="{% competition_detail 'north-american-soccer-league-playoffs' %}">NASL Playoffs</a>, the playoffs for the NASL.</li>
  <li><a href="{% competition_detail 'mls-cup-playoffs' %}">MLS Cup Playoffs</a>, the playoffs for the MLS.</li>
</ul>

<p>Also fo interest are the <a href="{% url competition-detail 'professional-cup-1992' %}">Professional Cup</a>, <a href="{% url competition-detail 'us-professional-cup' %}">US Professional Cup</a>, <a href="{% url competition_detail 'american-professional-soccer-league-playoffs' %}">APSL Playoffs</a>, <a href="{% url competition_detail 'western-soccer-alliance-playoffs' %}">WSA Playoffs</a>.</p>

<p>Notable international competitions include...</p>

<p>The site is currently under active development. Data is definitely not guaranteed to be accurate or complete.</p>

<p>Feel free to contact me at chris at socceroutsider.com with any questions, requests or bugs; please (please) definitely contact me if you have any data that you want included on the site.</p>


{% endblock %}
