{% block doctype_tag %}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">{% endblock %}

<html>

<head>
  <title>{% block title %}All-time American soccer statistics{% endblock %} - SoccerStats.us </title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="Description" content="{% block metadescription %}"Historical and modern Soccer Statistics for all American competitions, teams, and players. Includes stats, results, lineups, awards, drafts, career stats, salary data and more."{% endblock %}"</meta>

  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" media="screen" >
  <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" type="text/css" media="screen" >
  <link rel="stylesheet" href="{{ STATIC_URL }}js/jquery-1.8.3.js" type="text/css" media="screen" >
  <link rel="stylesheet" href="{{ STATIC_URL }}js/jquery-ui.js" type="text/css" media="screen" >


  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/custom.js"></script>


  {% block extrahead %}{% endblock %}


  {% if not debug_mode %}
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-370829-4']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  {% endif %}

</head>

<body>

  <h1><a href="{% url home %}">SoccerStats.us</a> <span class="subhead">US soccer statistics from <a href="{% url year_detail 1866 %}">1866</a> to <a href="{% url year_detail 2012 %}">2012</a></span> </h1>

  <div id="header">
    <ul>
      <li><a href="{% url scoreboard_today %}">scoreboard</a></li>
      <li><a href="{% url team_index %}">teams</a></li>
      <li><a href="{% url person_index %}">players</a></li>
      <li><a href="{% url competition_index %}">competitions</a></li>
      {# <li><a href="{% url manager_index %}">coaches</a></li> #}
      <li><a href="{% url drafts_index %}">drafts</a></li>
      <li><a href="{% url award_index %}">awards</a></li>
      {# <li><a href="{% url award_index %}">leaders</a></li> #}
      {# <li><a href="{% url tool_index %}">tools</a></li> #}
    </ul>

    {% comment %}
      <form method="get" action="/search" id="search_form">
        <input type="text" name="q" id="id_q" />
        <input type="submit" value="Search" id="search_input" />
      </form>
      {% endcomment %}

    <div class="clear"></div>
  </div>

  <div id="content">

  {% block content %}

  {% endblock %}
  </div>

  <div id="footer">
    <ul>
      <li><a href="/about">about</a></li>
      <li><a href="/contact">contact</a></li>

      {% comment %}
      <li><a href="/api">api</a></li>
      {% endcomment %}

      <li><a href="/sources">sources</a></li>
      {# <li><a href="/blog">blog</a></li>#}
    </ul>



  </div>



</body>

