<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}All-time American soccer statistics{% endblock %} | SoccerStats.us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% block metadescription %}American soccer statistics from 1866 to today{% endblock %}">

  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css?v=5" media="screen">

  <script src="{{ STATIC_URL }}js/jquery-1.8.3.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="{{ STATIC_URL }}js/custom.js"></script>

  {% block extrahead %}{% endblock %}
</head>

<body>

  <header id="site-header">
    <div class="header-inner">
      <div id="title">
        <a href="/" id="maintitle">SoccerStats.us</a>
        <span id="subtitle">American soccer history, 1866&ndash;present</span>
      </div>

      <nav id="nav">
        <a href="{% url 'team_index' %}">teams</a>
        <a href="{% url 'person_index' %}">players</a>
        <a href="{% url 'competition_index' %}">competitions</a>
        <a href="{% url 'source_index' %}">sources</a>
        <a href="{% url 'about_index' %}">about</a>
      </nav>
    </div>

  </header>

  <main id="content">
    {% block content %}{% endblock %}
  </main>

</body>

</html>
