{% extends "base.html" %}

{% block content %}

<h3>Update</h3>
<h4>Saturday, April 28, 2012</h4>

<p>After a several month break, I'm updating the site.</p>

<p>Apart from a bunch of background changes, the main things that I've added are comprehensive statistics for the <a href="/c/american-soccer-league-1921-1933">American Soccer League</a> pulled from Colin Jose's excellent <a href="http://www.amazon.com/American-Soccer-League-Colin-Jose/dp/0810834294">book</a>.<p>

<p>Further, I've done some work researching old <a href="/c/american-cup">American Cup</a> and <a href="/c/lewis-cup">Lewis Cup</a> scores and lineups. These two are probably the second and third most important cups competitions in the history of the United States. The American Cup was started in 1884, and was the United States' first national avowedly national soccer competition - although the participants were almost exclusively East Coast based, centered on New York and New Jersey. The Lewis Cup was played intermittently by both the first and second American Soccer Leagues - it was something like a blend between a playoff competition and a league cup, depending on the season.</p>

<p>Among the other things that have been added are full statistics for the <a href="/c/superliga">SuperLiga</a>, the <a href="/c/us-cup">U.S. Cup</a>, and the <a href="/c/giants-cup">Giants' Cup</a>. Not a lot, but I am working on a lot of other information that should be more interesting.</p>

<p>I've also removed a few things. I've removed indoor standings completely, because I did not have any statistics to go along with them - in general, I've slightly trimmed the number of competitions listed, while hopefully making the ones that are listed more relevant.</p>
{% endblock %}
