{% extends "base.html" %}
{% load games %}
{% load humanize %}


{% block content %}

<p>Every American soccer match anyone has a record of, from 1866 to today &mdash;
{{ game_count|intcomma }} games, every number traced to a named source.</p>

<form method="get" action="{% url 'search' %}">
  <input name="q" type="text" size="40" placeholder="search players, teams, competitions">
  <input type="submit" value="search">
</form>


<h3>On this day &mdash; {{ today|date:"F j" }}</h3>

{% if games %}
{% games_table games %}
{% else %}
<p>No recorded match on {{ today|date:"F j" }} &mdash; yet.
<a href="{% url 'dates_index' %}">Browse by year</a> instead.</p>
{% endif %}

{% if births %}
<h4>Born on this day</h4>
<ul>
{% for bio in births %}
<li><a href="{% url 'person_detail' bio.slug %}">{{ bio.name }}</a>,
<a href="{% url 'date_detail' bio.birthdate.year bio.birthdate.month bio.birthdate.day %}">{{ bio.birthdate.year }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if deaths %}
<h4>Died on this day</h4>
<ul>
{% for bio in deaths %}
<li><a href="{% url 'person_detail' bio.slug %}">{{ bio.name }}</a>,
<a href="{% url 'date_detail' bio.deathdate.year bio.deathdate.month bio.deathdate.day %}">{{ bio.deathdate.year }}</a></li>
{% endfor %}
</ul>
{% endif %}

<p><a href="{% url 'day_detail' today.month today.day %}">All events on {{ today|date:"F j" }}, any year &rarr;</a></p>


<div class="leftcol">

<h3>Where to start</h3>

<ul>
<li><a href="{% url 'year_detail' 1894 %}">1894</a> &mdash;
<a href="{% url 'competition_detail' 'american-league-of-professional-football' %}">the American League of Professional Football</a>:
baseball owners' six-week experiment, the first professional soccer league in America</li>

<li><a href="{% url 'competition_detail' 'american-soccer-league-1921-1933' %}">The American Soccer League, 1921&ndash;1933</a>:
for a decade, arguably the strongest league outside Britain</li>

<li><a href="{% url 'team_detail' 'bethlehem-steel' %}">Bethlehem Steel, 1909&ndash;1930</a>:
the steel company's team, American soccer's first dynasty</li>

<li><a href="{% url 'team_detail' 'united-states' %}">The US men's national team</a>:
every international, all-time</li>

<li><a href="{% url 'competition_detail' 'north-american-soccer-league' %}">The NASL, 1968&ndash;1984</a>:
Pel&eacute;, the Cosmos, the boom and the bust</li>
</ul>


<h3>United States</h3>

<h4>Division 1</h4>
<ul>
<li><a href="{% url 'competition_detail' 'american-league-of-professional-football' %}">American League of Professional Football (1894)</a></li>
<li><a href="{% url 'competition_detail' 'american-soccer-league-1921-1933' %}">American Soccer League (1921&ndash;1933)</a></li>
<li><a href="{% url 'competition_detail' 'north-american-soccer-league' %}">North American Soccer League (1968&ndash;1984)</a></li>
<li><a href="{% url 'competition_detail' 'major-league-soccer' %}">Major League Soccer</a></li>
</ul>

<h4>Cups</h4>
<ul>
<li><a href="{% url 'competition_detail' 'us-open-cup' %}">US Open Cup</a></li>
<li><a href="{% url 'competition_detail' 'afa-cup' %}">AFA Cup</a></li>
<li><a href="{% url 'competition_detail' 'lewis-cupp' %}">Lewis Cup</a></li>
<li><a href="{% url 'competition_detail' 'national-amateur-cup' %}">National Amateur Cup</a></li>
</ul>

<h4>Minor leagues</h4>
<ul>
<li><a href="{% url 'competition_detail' 'national-association-foot-ball-league' %}">National Association Foot Ball League</a></li>
<li><a href="{% url 'competition_detail' 'american-soccer-league-1933-1983' %}">American Soccer League (1933&ndash;1983)</a></li>
<li><a href="{% url 'competition_detail' 'american-professional-soccer-league' %}">American Professional Soccer League</a></li>
<li><a href="{% url 'competition_detail' 'western-soccer-league' %}">Western Soccer League</a></li>
<li><a href="{% url 'competition_detail' 'usl-first-division' %}">USL First Division (1997&ndash;2009)</a></li>
<li><a href="{% url 'competition_detail' 'usl-second-division' %}">USL Pro</a></li>
<li><a href="{% url 'competition_detail' 'usl-premier-developmental-league' %}">USL PDL</a></li>
<li><a href="{% url 'competition_detail' 'north-american-soccer-league-2011-' %}">North American Soccer League (2011&ndash;)</a></li>
<li><a href="{% url 'competition_detail' 'mls-reserve-league' %}">MLS Reserve League</a></li>
</ul>

</div>


<div class="rightcol">

<h3><a href="{% url 'source_index' %}">Sources</a></h3>

<p>Every figure on this site is traced to a source &mdash; most to the work of
a small group of historians of the American game:</p>

<ul>
{% for name, total in historians %}
<li>{{ name }}{% if total %} &mdash; {{ total|intcomma }} contributions{% endif %}</li>
{% endfor %}
</ul>

<p><a href="{% url 'source_index' %}">All sources &rarr;</a> &middot;
<a href="http://github.com/soccerstatsus">The data is open source</a> &mdash;
<a href="{% url 'about_build' %}">build your own copy</a>.</p>


<h3>Women's soccer</h3>
<ul>
<li><a href="{% url 'competition_detail' 'national-womens-soccer-league' %}">National Women's Soccer League</a></li>
<li><a href="{% url 'competition_detail' 'womens-professional-soccer' %}">Women's Professional Soccer</a></li>
<li><a href="{% url 'competition_detail' 'womens-united-soccer-association' %}">Women's United Soccer Association</a></li>
</ul>

<h3>Indoor soccer</h3>
<ul>
<li><a href="{% url 'competition_detail' 'major-indoor-soccer-league-1978-1992' %}">MISL (1978&ndash;1992)</a></li>
<li><a href="{% url 'competition_detail' 'north-american-soccer-league-indoor' %}">NASL (indoor)</a></li>
<li><a href="{% url 'competition_detail' 'national-professional-soccer-league-indoor' %}">National Professional Soccer League</a></li>
<li><a href="{% url 'competition_detail' 'continental-indoor-soccer-league' %}">Continental Indoor Soccer League</a></li>
<li><a href="{% url 'competition_detail' 'major-indoor-soccer-league-2001-2008' %}">MISL (2001&ndash;2008)</a></li>
<li><a href="{% url 'competition_detail' 'major-indoor-soccer-league-2008-2014' %}">MISL (2008&ndash;2014)</a></li>
<li><a href="{% url 'competition_detail' 'professional-arena-soccer-league' %}">Professional Arena Soccer League</a></li>
</ul>

<h3>Elsewhere</h3>
<ul>
<li><a href="{% url 'competition_index' %}">All competitions</a></li>
<li><a href="{% url 'confederation_detail' 'concacaf' %}">CONCACAF</a> &middot;
<a href="{% url 'confederation_detail' 'conmebol' %}">CONMEBOL</a> &middot;
<a href="{% url 'confederation_detail' 'uefa' %}">UEFA</a> &middot;
<a href="{% url 'confederation_detail' 'afc' %}">AFC</a> &middot;
<a href="{% url 'confederation_detail' 'ofc' %}">OFC</a> &middot;
<a href="{% url 'confederation_detail' 'caf' %}">CAF</a></li>
</ul>

</div>

{% endblock %}
