{% extends "base.html" %}

{% block content %}

<h3 id="blurb">American soccer statistics from <a href="{% url year_detail 1921%}">1921</a> to <a href="{% url date_detail 2010 7 4  %}">todayish</a></h3>

<div id="history_box">
<h4>On <a href="{% url day_detail today.month today.day %}">{{ today.month }}/{{ today.day }}</a></h4>
<h5>Born</h5>
<p><a href="{% url person_detail born.slug %}">{{ born }}</a></p>

<h5>Game of the day</h5>
<p><a href="{% url game_detail game.id %}">{{game }}</a></p>
</div>

<div id="news">
</div>

{% endblock %}
