{% extends "base.html" %}

{% block content %}

<h3>Websites</h3>
<ul>
  <li><a href="http://rsssf.com">RSSSF</a> - The Rec.Sport.Soccer Statistics Foundation</li>
  <li><a href="http://white.sover.net/~spectrum/">American Soccer History Archives</a> - the most comprehensive US soccer archive on the internet.</li>
  <li><a href="http://nasljerseys.com">nasljerseys.com</a> - NASL and MISL player statistics</li>
  <li><a href="http://a-leaguearchive.tripod.com/">The A-League Archives</a> - US minor league data from 1985 to 2010</li>
  <li><a href="http://usasoccer.blogspot.com/">Elijah Miller's MLS Lineup Database</a></li>
  <li><a href="http://thecup.us">The Cup.us</a> - US Open Cup Information</li>
  <li><a href="http://wikipedia.org">Wikipedia</a> - Standings, a wide range of data.</li>
  <li><a href="http://uslsoccer.com">uslsoccer.com</a></li>
  <li><a href="http://soccernet.com">ESPN Soccernet</a> - recent statistics</li>
  <li><a href="http://mlssoccer.com">MLSSoccer</a></li>
  <li><a href="http://www.cslny.com/index.php">New York Cosmopolitan League</a> - Cosmopolitan League standings.</li>
</ul>

<h3>Books</h3>

<ul>
  <li><a href="http://www.amazon.com/Complete-Record-American-Soccer-League/dp/0907969569">NASL: A Complete Record of the North American Soccer League</a> - Colin Jose</li>
  <li><a href="http://www.amazon.com/Soccer-Football-World-Americas-Forgotten/dp/1592138853/ref=sr_1_1?s=books&ie=UTF8&qid=1324661058&sr=1-1">Soccer in a Football World</a> - David Wangerin</li>
  <li><a href="http://www.amazon.com/Evolvements-Early-American-Foot-Ball/dp/1434362469">Evolvements of Early American Foot Ball: Through the 1890/91</a> - Melvin I Smith</li>
  <li><a href="http://www.amazon.com/North-American-Soccer-League-Encyclopedia/dp/1878282255">North American Soccer League Encyclopedia</a> - Colin Jose</li>
  <li><a href="http://www.amazon.com/American-Soccer-League-Colin-Jose/dp/0810834294/ref=ntt_at_ep_dpt_2">The American Soccer League: The Golden Years of American Soccer 1921-1931</a> - Colin Jose</li>
</ul>

<h3>People</h3>

<ul>
  <li>Scott Leach's archives -  MLS and USL, 1995-2010</li>
  <li>Philip Beineke & US Soccer Hall of Fame - USMNT all-time rosters</li>
  <li>Roger Allaway - Notes for Bethlehem Steel results</li>
</ul>

{% endblock %}
