{% load datum_or_none %}

<h4><a href="{% url team_versus game.team1.slug game.team2.slug %}">Series</a></h4>
<div id="series">

<table>
  <tr>

    <th>date</th>
    <th>team1</th>
    <th>score</th>
    <th>team2</th>
    <th>location</th>

  </tr>

  {% for game in games %}
  <tr>

    {% if game.date %}
    <td><a href="{% url date_detail game.date.year game.date.month game.date.day %}">{{ game.date }}</a></td>
    {% else %}
    <td></td>
    {% endif %}

    {% if game.winner == game.team1 %}
    <td><a href="{% url team_detail game.team1.slug %}"><strong>{{ game.team1_original_name }}</strong></a></td>
    {% else %}
    <td><a href="{% url team_detail game.team1.slug %}">{{ game.team1_original_name }}</a></td>
    {% endif %}

    <td><a href="{% url game_detail game.id %}">{{ game.score_or_result }}</a></td>

    {% if game.winner == game.team2 %}
    <td><a href="{% url team_detail game.team2.slug %}"><strong>{{ game.team2_original_name }}</strong></a></td>
    {% else %}
    <td><a href="{% url team_detail game.team2.slug %}">{{ game.team2_original_name }}</a></td>
    {% endif %}

    {% if game.stadium %}
    <td><a href="{% url stadium_detail game.stadium.slug %}"><strong>{{ game.stadium }}</strong></a></td>
    {# {% if game.city.slug %}<a href="{% url city_detail game.city.slug %}">, {{ game.city.name }}</a>{% endif %} #}
    {% else %}
    {% if game.city %}
    <td><a href="{% url city_detail game.city.slug %}">{{ game.city }}</a></td>
    {% else %}
    <td></td>
    {% endif %}
    {% endif %}

  </tr>
  {% endfor %}
</table>

</div>


