{% extends "base.html" %}

{% block content %}

<ul>
  <li>Name: {{ bio.name }}</li>
  <li>Birthdate: {{ bio.birthdate }}</li>
  <li>Birthplace: {{ bio.birthplace }}</li>
  <li>Height: {{ bio.height }}</li>
  <li>Weight: {{ bio.weight }}</li>
</ul>

<h3>stats</h3>
<table>
  <tr>
    <th>competition</th>
    <th>season</th>
    <th>team</th>
    <th>gp</th>
    <th>gs</th>
    <th>min</th>
    <th>goals</th>
    <th>assists</th>
    <th>shots</th>
  </tr>

  {% for stat in bio.stat_set.all %}
  <tr>
    <td><a href="{% url competition_detail stat.competition.id %}">{{ stat.competition }}</a></td>
    <td><a href="{% url season_detail stat.season.id %}">{{ stat.season.name }}</a></td>
    <td><a href="{% url team_detail stat.team.slug %}">{{ stat.team }}</a></td>
    <td>{{ stat.games_played }}</td>
    <td>{{ stat.games_started }}</td>
    <td>{{ stat.minutes }}</td>
    <td>{{ stat.goals }}</td>
    <td>{{ stat.assists }}</td>
    <td>{{ stat.shots }}</td>
  </tr>
  {% endfor %}

  {% with stat=bio.career_stat %}
  {% if stat %}
  <tr>
    <td>Career</td>
    <td></td>
    <td></td>
    <td>{{ stat.games_played }}</td>
    <td>{{ stat.games_started }}</td>
    <td>{{ stat.minutes }}</td>
    <td>{{ stat.goals }}</td>
    <td>{{ stat.assists }}</td>
    <td>{{ stat.shots }}</td>
  </tr>
  {% endif %}
  {% endwith %}

</table>


<h3>goals</h3>


<table>
  <tr>
    <th>Date</th>
    <th>Minute</th>
    <th>Team</th>
    <th>Opponent</th>
    <th>Score</th>

  </tr>

  {% for goal in bio.goal_set.all %}
  <tr>
    <td>{{ goal.game.date }}</td>
    <td>{{ goal.minute }}</td>
    <td><a href="{% url team_detail goal.team.slug %}">{{ goal.team }}</a></td>
    <td><a href="{% url team_detail goal.opponent.slug %}">{{ goal.opponent }}</a></td>
    <td><a href="{% url game_detail goal.game.id %}">{{ goal.game.score }}</a></td>
  {% endfor %}
  
</table>


<h3>appearances</h3>
<table>
  <tr>
    <th>date</th>
    <th>team</th>
    <th>opponent</th>
    <th>score</th>
    <th>on</th>
    <th>off</th>
  <tr>

  {% for appearance in bio.appearance_set.all %}
  <tr>
    <td>{{ appearance.game.date }}</td>
    <td><a href="{% url team_detail appearance.team.slug %}">{{ appearance.team }}</a></td>
    <td><a href="{% url team_detail appearance.opponent.slug %}">{{ appearance.opponent }}</a></td>
    <td><a href="{% url game_detail appearance.game.id %}">{{ appearance.game.score }}</a></td>
    <td>{{ appearance.on }}
    <td>{{ appearance.off }}
  </tr>
  {% endfor %}
</table>

    

{% endblock %}
