{% extends "base.html" %}

{% block title %}{{ bio.name }} Statistics and Information{% endblock %}
{% block metadescription %}{{ bio.name }} soccer stats with games played, goals scored, bio data, awards...{% endblock %}

{% block extrahead %}

<script type="text/javascript">
  $(document).ready(function (){
  });
</script>

{% endblock %}


{% block content %}

{% include "bios/helpers/summary.html" %}


<ul id="tabs"></ul>

<div id="tab_wrapper">


{% if domestic_stats or international_stats or coach_stats %}
<div tab="stats">
{% include "bios/detail_stats.html" %}
</div>
{% endif %}


{% if recent_game_stats %}
<div tab="games">
<a href="{% url person_detail_games bio.slug %}">all games</a>
{% include "templatetags/stats/game_list.html" with stats=recent_game_stats %}
</div>
{% endif %}


{% if refs %}
<div tab="refereed">
<a href="{% url person_detail_referee_games bio.slug %}">all games refereed</a>
{% include "templatetags/appearances/ref.html" with games=refs %}
</div>
{% endif %}


{% if bio.awards.exists or picks.exists or bio.salary_set.exists %}
<div tab="info">

<ul id="sub-tabs"></ul>

<div id="sub-tab-wrapper">


{% if bio.awards.exists %}
<div tab="awards">
<table>
{% for award in bio.awards.all %}
<tr>
  {% if award.season %}
  <td><a href="{% url season_detail award.season.competition.slug award.season.slug %}">{{ award.season.name }}</a></td>
  <td><a href="{% url competition_detail award.season.competition.slug %}">{{ award.season.competition }}</a></td>
  {% else %}
  <td class="grey"></td>
  <td class="grey"></td>
  {% endif %}
  <td><a href="{% url award_detail award.award.id %}">{{ award.award.name }}</a></td>
</tr>
{% endfor %}
</table>
</div>
{% endif %}


{% if picks.exists %}
<div tab="drafts">
<table>
{% for pick in picks %}
<tr>
  <td>{{ pick.number }}</td>
  <td><a href="{% url team_detail pick.team.slug %}">{{ pick.team }}</a></td>
  {% if draft.competition %}
  <td><a href="{% url draft_detail pick.draft.competition.slug pick.draft.slug pick.draft.season.name %}">{{ pick.draft }}</a></td>
  {% else %}
  <td><a href="{% url draft_detail pick.draft.competition.slug pick.draft.slug pick.draft.season.name %}">{{ pick.draft.season.name }} {{ pick.draft.name }}</a></td>
  {% endif %}
</tr>
{% endfor %}
</table>
</div>
{% endif %}

{% if bio.salary_set.exists %}
<div tab="salary">
<table>
  {% for salary in bio.salary_set.all %}
  <tr>
    <td>{{ salary.season }}</td>
    <td>${{ salary.amount }}</td>
  </tr>
  {% endfor %}
</table>
</div>
{% endif %}

</div>
</div>
{% endif %}

</div>

{% endblock %}
