{% extends "base.html" %}

{% block content %}


<table>
  <tr>
    <th>player</th>
    <th>gp</th>
    <th>min</th>
    <th>goals</th>
  </tr>

{% for stat in stats %}
<tr>
  {% if stat.player.slug %}
  <td><a href="{% url person_detail stat.player.slug %}">{{ stat.player }}</a></td>
  {% else %}
  <td>{{ stat.player }}</td>
  {% endif %}
  <td>{{ stat.games_played|default_if_none:'' }}</td>
  <td>{{ stat.minutes|default_if_none:'' }}</td>
  <td>{{ stat.goals|default_if_none:'' }}</td>
</tr>
{% endfor %}


{% endblock %}
