{% extends "base.html" %}
{% load datum_or_none %}

{% block content %}



<table id="position_index" >

  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">job</th>
      <th scope="col">team</th>
      <th scope="col">start</th>
      <th scope="col">end</th>
      <th scope="col">length</th>

      {% comment %}
      <th scope="col">wins</th>
      <th scope="col">losses</th>
      <th scope="col">ties</th>
      <th scope="col">win %</th>
      {% endcomment %}
    </tr>
  </thead>


{% for position in positions %}
<tr>
  <td><a href="{% url 'person_detail' position.person.slug %}">{{ position.person }}</a></td>
  <td><a>{{ position.name|truncatechars:32 }}</a></td>
  <td><a href="{% url 'team_detail' position.team.slug %}">{{ position.team }}</a></td>
  {% include "templatetags/fragments/date.html" with date=position.start %}
  {% include "templatetags/fragments/date.html" with date=position.end %}
  <td>{{ position.length }}</td>
  
  {% comment %}
  {% datum_or_grey position.wins %}
  {% datum_or_grey position.ties %}
  {% datum_or_grey position.losses %}
  {% with wp=position.win_percentage|floatformat:3 %}
  {% datum_or_grey wp %}
  {% endwith %}
  {% endcomment %}

</tr>
{% endfor %}
</table>

{% endblock %}
