{% load datum_or_none %}

<table>
  <thead>
  <tr>
    <th>cmp</th>
    <th>date</th>
    <th>team</th>
    <th>score</th>
    <th></th>
    <th>opponent</th>
    <th>goals</th>
    <th>assists</th>
    <th>gp</th>
    <th>minutes</th>

    <th>age</th>
    

    {% comment %}
    <th>+/-</th>
    <!--<th>on</th>-->
    <!--<th>off</th>-->

    {% endcomment %}
  <tr>
  </thead>

  <tbody>
  {% for gs in stats %}
  <tr>
    <td><a href="{% url competition_detail gs.game.competition.slug %}">{{ gs.game.competition.abbreviation }}</a></td>
    <td><a href="{% url date_detail gs.game.date.year gs.game.date.month gs.game.date.day %}">{{ gs.game.date }}</a></td>

    {% if gs.game.winner == gs.team %}
    <td><a href="{% url team_detail gs.team.slug %}"><strong>{{ gs.team_original_name }}</strong></a></td>
    {% else %}
    <td><a href="{% url team_detail gs.team.slug %}">{{ gs.team_original_name }}</a></td>
    {% endif %}

    <td><a href="{% url game_detail gs.game.id %}">{{ gs.game.score_or_result }}</a></td>
     <td>{{ gs.result }}</td>


    {% if gs.game.winner == gs.opponent %}
    <td><a href="{% url team_detail gs.opponent.slug %}"><strong>{{ gs.opponent_original_name }}</strong></a></td>
    {% else %}
    <td><a href="{% url team_detail gs.opponent.slug %}">{{ gs.opponent_original_name }}</a></td>
    {% endif %}

    {% datum_or_grey gs.goals %}
    {% datum_or_grey gs.assists %}
    {% datum_or_grey gs.games_played %}
    {% datum_or_grey gs.minutes %}


     <td>{{ gs.age|floatformat:"1" }}</td>


    {% comment %}
    {% datum_or_grey gs.plus_minus %}
    <td>{{ gs.on }}</td>
    <td>{{ gs.off }}</td>
    <!--<td>{{ gs.age|floatformat:"1" }}</td>-->
    {% endcomment %}
  </tr>
  {% endfor %}
  </tbody>

</table>
