{% load datum_or_none %}

<table>
  <tr>
    <th>team</th>
    <th>cmp</th>
    <th>season</th>
    <th>wins</th>
    <th>ties</th>
    <th>losses</th>
    <th>gf</th>
    <th>ga</th>
    <th>+/-</th>
    <th>win %</th>
  </tr>

{% for stat in coach_stats %}
<tr>
  <td><a href="{% url 'team_detail' stat.team.slug %}">{{ stat.team }}</a></td>
  <td><a href="{% url 'competition_detail' stat.competition.slug %}">{{ stat.season.competition.abbreviation }}</a></td>
  <td><a href="{% url 'season_detail' stat.competition.slug stat.season.slug %}">{{ stat.season.name }}</a></td>
  
  {% datum_or_grey stat.wins %}
  {% datum_or_grey stat.ties %}
  {% datum_or_grey stat.losses %}
  {% datum_or_grey stat.goals_for %}
  {% datum_or_grey stat.goals_against %}
  {% datum_or_grey stat.plus_minus %}

  <td>{{ stat.win_percentage|floatformat:3 }}</td>

</tr>
{% endfor %}
</table>
