
<table>
  <thead>
  <tr>
    <th>cmp</th>
    <th>date</th>
    <th>team</th>
    <th>score</th>
    <th>opponent</th>
    <th>on</th>
    <th>off</th>
    <th>age</th>
  <tr>
  </thead>

  <tbody>
  {% for appearance in appearances %}
  <tr>
    <td><a href="{% url competition_detail appearance.game.competition.slug %}">{{ appearance.game.competition.abbreviation }}</a></td>
    <td><a href="{% url date_detail appearance.game.date.year appearance.game.date.month appearance.game.date.day %}">{{ appearance.game.date }}</a></td>

    {% if appearance.game.winner == appearance.team %}
    <td><a href="{% url team_detail appearance.team.slug %}"><strong>{{ appearance.team_original_name }}</strong></a></td>
    {% else %}
    <td><a href="{% url team_detail appearance.team.slug %}">{{ appearance.team_original_name }}</a></td>
    {% endif %}

    <td><a href="{% url game_detail appearance.game.id %}">{{ appearance.score_or_result }}</a></td>

    {% if appearance.game.winner == appearance.opponent %}
    <td><a href="{% url team_detail appearance.opponent.slug %}"><strong>{{ appearance.opponent_original_name }}</strong></a></td>
    {% else %}
    <td><a href="{% url team_detail appearance.opponent.slug %}">{{ appearance.opponent_original_name }}</a></td>
    {% endif %}

    <td>{{ appearance.on }}</td>
    <td>{{ appearance.off }}</td>
    <td>{{ appearance.age|floatformat:"1" }}</td>
  </tr>
  {% endfor %}
  </tbody>

</table>
