
{% if team.get_image %}
<img id="team_logo" height="200" src="{{ team.get_image }}">
{% endif %}

<div id="team_data">

<h3>{{ team.name }}</h3>

{% if team.city %}
<div>from <a href="{% url 'city_detail' team.city.slug %}">{{ team.city }}</a></div>
{% endif %}

{% if team.founded %}
<div>founded {{ team.founded }}</div>
{% endif %}

{% if team.teamalias_set.exists %}
<div>Also known as</div>
<ul class="alternate-name">
{% for alias in team.teamalias_set.all %}
<li>{% include "templatetags/team_alias.html" %}</li>
{% endfor %}
</ul>
{% endif %}


</div>

<div class="clear"></div>
