{% extends "base.html" %}

{% load datum_or_none %}

{% block content %}

<h3>{{ city.name }}</h3>

{% if city.state %}
<h4><a href="{% url state_detail city.state.slug %}">{{ city.state.name }}</a></h4>
{% endif %}

{% if city.country %}
<h4>{{ city.country.name }}</h4>
{% endif %}

<ul id="tabs"></ul>

<div id="tab_wrapper">

{% if city.stadium_set.exists %}
<div tab="stadiums">
<table>
<tr>
  <th>name</th>
  <th>opened</th>
  <th>capacity</th>
  <th>cost</th>
</tr>
{% for stadium in city.stadium_set.all %}
<tr>
  <td><a href="{% url stadium_detail stadium.slug %}">{{ stadium }}</a></td>
  {% if stadium.opened %}
  <td><a href="{% url date_detail stadium.opened.year stadium.opened.month stadium.opened.day %}">{{ stadium.opened }}</a></td>
  {% else %}
  <td></td>
  {% endif %}
  
  {% datum_or_grey stadium.capacity %}
  {% datum_or_grey stadium.cost %}
</tr>
{% endfor %}
</table>
</div>
{% endif %}

{% if city.birth_set.exists %}
{% include "templatetags/born.html" %} 
{% endif %}

{% if games %}
<div tab="games">
<table>
{% for game in games %}
<tr>
  <td><a href="{% url game_detail game.id %}">{{ game.date }}</a></td>
  <td><a href="{% url team_detail game.team1.slug %}">{{ game.team1 }}</a></td>
  <td><a href="{% url game_detail game.id %}">{{ game.score }}</a></td>
  <td><a href="{% url team_detail game.team2.slug %}">{{ game.team2 }}</a></td>
  {% if game.stadium %}
  <td><a href="{% url stadium_detail game.stadium.slug %}">{{ game.stadium }}</a></td>
  {% else %}
  <td><a href="{% url city_detail game.city.slug %}">{{ game.city }}</a></td>
  {% endif %}
{% endfor %}
</table>
</div>
{% endif %}

</div>


{% endblock %}
