{% extends "base.html" %}
{% load humanize %}

{% block title %}countries{% endblock %}

{% block content %}

<h1>Countries</h1>

<table>

<thead>
  <tr>
    <th scope="col">name</th>
    <th scope="col">games</th>
    <th scope="col">attendance</th>
    <!--<th scope="col">population</th>-->
    </tr>
</thead>

{% for country in countries %}
<tr>
  <td><a href="{% url 'country_detail' country.slug %}">{{ country }}</a></td>
  <td>{{ country.game_count|intcomma }}</td>
  {% if country.total_attendance == None %}<td class="greybg" title="no record found">&mdash;</td>{% else %}<td>{{ country.total_attendance|intcomma }}</td>{% endif %}
  <!--<td>{{ country.population }}</td>-->
</tr>
{% endfor %}

</table>


{% endblock %}
