{% extends "base.html" %}
{% block title %}{{ stadium }}{% endblock %}

{% block content %}

<h3>{{ stadium.name }}</h3>




{% if stadium.address %}
<div><a href="{% url city_detail stadium.city.slug %}">{{ stadium.address }}, {{ stadium.city }}</a></div>
{% else %}
{% if stadium.city %}
<div><a href="{% url city_detail stadium.city.slug %}">{{ stadium.city }}</a></div>
{% endif %}
{% endif %}


{% if stadium.opened %}
<div>Opened: <a href="{% url date_detail stadium.opened.year stadium.opened.month stadium.opened.day %}">{{ stadium.opened }}</a></div>
{% else %}
{% if stadium.year_opened %}
<div>Opened: <a href="{% url year_detail stadium.year_opened %}">{{ stadium.year_opened }}</a></h4>
{% endif %}
{% endif %}

{% if stadium.closed %}
<div>Closed: <a href="{% url date_detail stadium.closed.year stadium.closed.month stadium.closed.day %}">{{ stadium.closed }}</a></div>
{% else %}
{% if stadium.year_closed %}
<div>Closed: <a href="{% url year_detail stadium.year_closed %}">{{ stadium.year_closed }}</a></div>
{% endif %}
{% endif %}


{% if stadium.capacity %}
<div>Capacity: {{ stadium.capacity }}</div>
{% endif %}

{% if stadium.cost %}
<div>Cost: ${{ stadium.cost }}</div>
{% endif %}

{% if stadium.architect %}
<div>Architect: <a href="{% url person_detail stadium.architect.slug %}">{{ stadium.architect }}</a></div>
{% endif %}

<div>Average attendance: {{ average_attendance|floatformat }} ({{ attendance_game_count }} games)</div>



<ul id="tabs"></ul>

<div id="tab_wrapper">


<div tab="standings">

{% include "templatetags/standings/slim.html" %}

</div>

{% if stadium.game_set.exists %}
<div tab="games">
{% include "templatetags/games.html" with games=stadium.game_set.all %}
</div>
{% endif %}

  
{% if stadium.goal_set.exists %}
<div tab="goals">
{% include "templatetags/goals/goals.html" with goals=stadium.goal_set.all %}
</div>
{% endif %}

{% if stadium.appearance_set.exists %}
<div tab="lineups">
{% include "templatetags/appearance.html" with appearances=stadium.appearance_set.all %}
</div>
{% endif %}


</div>

{% endblock %}
