{% load datum_or_none %}

{% if standings %}
<table class="standings_list">

{% with s0=standings.0 %}

  <thead>
  <tr>
    <th></th>
    <th>team</th>
    <th>gp</th>
    <th>w</th>

    {% if s0.shootout_wins != None %}
    <th>sow</th>
    {% endif %}

    {% if s0.ties != None %}
    <th>t</th>
    {% endif %}

    {% if s0.shootout_losses != None %}
    <th>sol</th>
    {% endif %}

    <th>l</th>
    <th>pts</th>
    <th>gf</th>
    <th>ga</th>
    <th>gd</th>

  </tr>
  </thead>

  <tbody>
  {% for standing in standings %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td><a href="{% url team_detail standing.team.slug %}">{{ standing.team }}</a></td>
    <td>{{ standing.games }}</td>
    <td>{{ standing.wins }}</td>
    {% if s0.shootout_wins != None %}<td>{{ standing.shootout_wins }}</td>{% endif %}
    {% if s0.ties != None %}<td>{{ standing.ties|default_if_none:'' }}</td>{% endif %}
    {% if s0.shootout_losses != None %}<td>{{ standing.shootout_losses }}</td>{% endif %}
    <td>{{ standing.losses }}</td>
    {% datum_or_grey standing.points %}
    {% datum_or_grey  standing.goals_for %}
    {% datum_or_grey standing.goals_against %}
    {% datum_or_grey standing.goal_difference %}
  </tr>
  {% endfor %}
  </tbody>

{% endwith %}

</table>
{% endif %}
