{% load datum_or_none %}

{% if competition_standings.exists %}

<ul id="standing-tabs"></ul>

<div id="standing-tab-wrapper">

<div tab="competition">
<table>

<tr>
  <th>competition</th>
  <th>W</th>
  <th>T</th>
  <th>L</th>
  <th>win %</th>
</tr>


{% for standing in competition_standings %}
<tr>
  {% if standing.competition == None %}
  <td>All-time</td>
  {% else %}
  <td><a href="{% url competition_detail standing.competition.slug %}">{{ standing.competition }}</a></td>
  {% endif %}
  <td>{{ standing.wins }}</td>
  {% datum_or_grey standing.ties %}
  <td>{{ standing.losses }}</td>
  <td>{{ standing.win_percentage_100|floatformat }}%</td>
</tr>
{% endfor %}
</table>
</div>

<div tab="league">
<table>

<tr>
  <th>comp.</th>
  <th>league</th>
  <th>W</th>
  <th>T</th>
  <th>L</th>
  <th>win %</th>
</tr>


{% for standing in league_standings %}
<tr>
  <td><a href="{% url competition_detail standing.competition.slug %}">{{ standing.competition }}</a></td>
  <td><a href="{% url season_detail standing.competition.slug standing.season.slug %}">{{ standing.season.name }}</a></td>
  <td>{{ standing.wins }}</td>
  {% datum_or_grey standing.ties %}
  <td>{{ standing.losses }}</td>
  <td>{{ standing.win_percentage_100|floatformat }}%</td>
</tr>
{% endfor %}


</table>
</div>
{% endif %}

</div>
